n8n-workflows/all-workflows.json
{"data":[{"updatedAt":"2025-12-01T22:10:02.000Z","createdAt":"2025-11-25T11:09:48.989Z","id":"KEAMVP9sVy36EDZZ","name":"My workflow 3","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"seconds"}]}},"id":"dad3968d-b2cd-45c5-bdc0-018afd7d593b","name":"Every Few Minutes Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-672,2240],"alwaysOutputData":true,"retryOnFail":true},{"parameters":{"assignments":{"assignments":[{"id":"id-1","name":"newsApiUrl","value":"https://newsapi.org/v2/top-headlines","type":"string"},{"id":"id-2","name":"newsApiKey","value":"1325830db8cc41e9b1516bb68f67899b","type":"string"},{"id":"id-3","name":"trendApiUrl","value":"https://api.example.com/trends","type":"string"},{"id":"id-4","name":"recipientEmail","value":"info.adixy@gmail.com","type":"string"},{"id":"id-5","name":"slackChannel","value":"https://app.slack.com/huddle/T09V1HA7822/C0A02G2NWTT","type":"string"},{"id":"id-10","name":"leadScoreThreshold","value":75,"type":"number"}]},"includeOtherFields":true,"options":{}},"id":"619d0739-9452-460b-a474-b7d7ad346877","name":"Workflow Configuration","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-448,2240]},{"parameters":{"url":"={{ $('Workflow Configuration').first().json.newsApiUrl }}?country=us&apiKey={{ $('Workflow Configuration').first().json.newsApiKey }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"User-Agent","value":"n8n-workflow"}]},"options":{}},"id":"df56ed32-abc9-430d-a9f0-689172e8d923","name":"Fetch Real-Time World Data","type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-224,2240]},{"parameters":{"promptType":"define","text":"={{ $json.articles }}","options":{"systemMessage":"You are a Master Prompt Architect specialized in generating high-quality, actionable prompts for various automation use cases.\n\nYour task is to:\n1. Analyze the real-time world data provided (news articles, trends, events)\n2. Generate 3-5 creative, detailed prompts that can be used for:\n   - Lead nurturing campaigns\n   - Content creation (blog posts, social media, emails)\n   - Trend analysis and insights\n   - Customer outreach strategies\n   - Data enrichment workflows\n\nFor each prompt, provide:\n- **Title**: A clear, descriptive title\n- **Category**: The use case (lead nurturing, content creation, trend analysis, outreach, data enrichment)\n- **Prompt**: A detailed, actionable prompt that includes context, instructions, and expected output format\n- **Context**: Brief explanation of why this prompt is relevant based on current trends\n\nReturn your response as a JSON array with this structure:\n[\n  {\n    \"title\": \"Prompt title\",\n    \"category\": \"Category name\",\n    \"prompt\": \"Full detailed prompt text\",\n    \"context\": \"Why this is relevant now\"\n  }\n]\n\nBe creative, timely, and ensure prompts are immediately actionable."}},"id":"bb15321a-cc61-454c-8ab7-2037079e4258","name":"Prompt Generator Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[64,2240],"alwaysOutputData":true,"retryOnFail":true,"waitBetweenTries":100},{"parameters":{"model":{"__rl":true,"mode":"id","value":"gpt-4o"},"options":{"temperature":0.8}},"id":"2a3bb588-7d61-4019-a2fc-8a1b633462e1","name":"OpenAI GPT Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[0,2464],"credentials":{"openAiApi":{"id":"YE8ORzbIEiezBSFh","name":"OpenAi account 2"}}},{"parameters":{"assignments":{"assignments":[{"id":"id-1","name":"generatedPrompts","value":"={{ $json.output }}","type":"string"},{"id":"id-2","name":"timestamp","value":"={{ $now.toISO() }}","type":"string"},{"id":"id-3","name":"sourceData","value":"={{ $('Fetch Real-Time World Data').first().json.articles[0].title }}","type":"string"}]},"includeOtherFields":true,"options":{}},"id":"696d263b-19db-4df8-8544-5c39478756f0","name":"Format Generated Prompts","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[624,2240]},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1-E-HGW7dI6YTw9pI-yyjB7MfB4A1Ic4_BE0xDNRPGK0","mode":"list","cachedResultName":"n8n test1.1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1-E-HGW7dI6YTw9pI-yyjB7MfB4A1Ic4_BE0xDNRPGK0/edit?usp=drivesdk"},"sheetName":{"__rl":true,"mode":"name","value":"Prompt Log"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"3b10d0ae-788c-4014-b82b-bf2d1d16609e","name":"Log to Google Sheets","type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[848,2048],"credentials":{"googleSheetsOAuth2Api":{"id":"h3bwraZmRpFZkFlc","name":"Google Sheets account"}}},{"parameters":{"sendTo":"={{ $('Workflow Configuration').first().json.recipientEmail }}","subject":"=New AI-Generated Prompts - {{ $now.toFormat('yyyy-MM-dd HH:mm') }}","message":"=<h2>Fresh Prompts Generated</h2><p>Timestamp: {{ $json.timestamp }}</p><p>Based on: {{ $json.sourceData }}</p><pre>{{ JSON.stringify($json.generatedPrompts, null, 2) }}</pre>","options":{}},"id":"96c0038b-1a49-4c8a-b468-b90f5a421b97","name":"Send Email Notification","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[848,2240],"webhookId":"5f82e002-abe0-4518-9b8f-b331797dc940","credentials":{"gmailOAuth2":{"id":"H1a63hnEe9HnPuDS","name":"Gmail account 2"}}},{"parameters":{"authentication":"oAuth2","select":"channel","channelId":{"__rl":true,"mode":"id","value":"={{ $('Workflow Configuration').first().json.slackChannel }}"},"text":"=*🚀 New AI-Generated Prompts*\n\n*Timestamp:* {{ $json.timestamp }}\n*Source:* {{ $json.sourceData }}\n\n```{{ JSON.stringify($json.generatedPrompts, null, 2) }}```","otherOptions":{}},"id":"9ac2769a-db4b-40d3-930f-da6cddb3c22b","name":"Send Slack Message","type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[848,2432],"webhookId":"899238d7-0e80-4b9d-a942-fcca3a1b9aa2","credentials":{"slackOAuth2Api":{"id":"4Xx4pdj2fKFaT0Ad","name":"Slack account"}}},{"parameters":{"httpMethod":"POST","path":"automation-master","options":{}},"id":"8d674197-1581-480b-987e-3056d7da4396","name":"Webhook Input Trigger","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-672,1408],"webhookId":"88410666-d005-4d0f-9393-b6957b2814a1"},{"parameters":{"promptType":"define","text":"={{ $json.body.request }}","options":{"systemMessage":"You are a Master Automation Orchestrator with access to multiple tools for CRM management, research, and communication.\n\nYour capabilities:\n1. **HTTP Research Tool**: Fetch data from any public API or website\n2. **Google Sheets CRM Tool**: Read, update, and manage CRM data in Google Sheets\n3. **Gmail Automation Tool**: Send automated emails to leads, customers, or team members\n\nYour task is to:\n1. Understand the user's automation request\n2. Determine which tools are needed\n3. Execute the appropriate tool calls in the correct sequence\n4. Provide a clear summary of actions taken\n\nExamples of requests you can handle:\n- \"Research the latest AI trends and email me a summary\"\n- \"Find all high-priority leads in the CRM and send them personalized outreach emails\"\n- \"Update lead status in the CRM after sending follow-up emails\"\n- \"Fetch competitor data and add insights to the CRM\"\n\nAlways confirm actions taken and provide actionable next steps."}},"id":"52243a7b-b0a1-4807-956a-9454e5c92dfc","name":"Master Orchestrator Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[-112,1600]},{"parameters":{"model":{"__rl":true,"mode":"id","value":"gpt-4o"},"options":{"temperature":0.7}},"id":"5c115b6b-5143-4e06-8731-0723d89fd690","name":"OpenAI GPT Model 2","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-224,1824],"credentials":{"openAiApi":{"id":"YE8ORzbIEiezBSFh","name":"OpenAi account 2"}}},{"parameters":{"toolDescription":"Fetch data from any public API or website. Provide the full URL and optional headers.","url":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('URL', `diffrent urls depending on user input and workflow prompt(s)`, 'string') }}","options":{}},"id":"4806e036-e325-4b56-8ef9-bfbe1e423b77","name":"HTTP Research Tool","type":"n8n-nodes-base.httpRequestTool","typeVersion":4.3,"position":[-96,1824]},{"parameters":{"descriptionType":"manual","toolDescription":"Read, update, or append data to Google Sheets CRM. Specify the sheet ID, sheet name, and operation (read/update/append).","documentId":{"__rl":true,"value":"1-E-HGW7dI6YTw9pI-yyjB7MfB4A1Ic4_BE0xDNRPGK0","mode":"list","cachedResultName":"n8n test1.1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1-E-HGW7dI6YTw9pI-yyjB7MfB4A1Ic4_BE0xDNRPGK0/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Blad1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1-E-HGW7dI6YTw9pI-yyjB7MfB4A1Ic4_BE0xDNRPGK0/edit#gid=0"},"options":{}},"id":"649ac11d-e32a-4191-8ede-7f751cbace28","name":"Google Sheets CRM Tool","type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.7,"position":[32,1824],"credentials":{"googleSheetsOAuth2Api":{"id":"h3bwraZmRpFZkFlc","name":"Google Sheets account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Send automated emails via Gmail. Provide recipient email (use $fromAI for dynamic), subject (use $fromAI for dynamic), and message content (use $fromAI for dynamic HTML).","sendTo":"={{ $fromAI('to') }}","subject":"={{ $fromAI('subject') }}","message":"={{ $fromAI('message_html') }}","options":{}},"id":"1cd6ad80-9397-4548-a496-b9acabad82f3","name":"Gmail Automation Tool","type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[160,1824],"webhookId":"b82ed7a8-91c5-4eca-b70c-eb49f7c749f7","credentials":{"gmailOAuth2":{"id":"H1a63hnEe9HnPuDS","name":"Gmail account 2"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.taskType }}","rightValue":"crm","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"crm"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.taskType }}","rightValue":"research","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"research"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.taskType }}","rightValue":"ai_agent","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"ai_agent"}]},"options":{}},"id":"43a64a97-dbc9-458c-a46d-86a1af5ed6f4","name":"Route by Task Type","type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[-448,1392]},{"parameters":{"url":"={{ $('Workflow Configuration').first().json.crmApiUrl }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Workflow Configuration').first().json.crmApiKey }}"}]},"options":{}},"id":"d863e7d8-8b41-43ff-b051-aea5815c69f9","name":"Fetch CRM Data","type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-48,1216]},{"parameters":{"url":"={{ $('Workflow Configuration').first().json.newsApiUrl }}?country=us&category=business&apiKey={{ $('Workflow Configuration').first().json.newsApiKey }}","options":{}},"id":"ed1676cb-0382-450e-979b-99f769136e00","name":"Fetch Market Trends","type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-48,1408]},{"parameters":{},"id":"0782e65d-47f9-4f57-b1ea-464a63b6cc6e","name":"Merge All Data Sources","type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[368,1312]},{"parameters":{"assignments":{"assignments":[{"id":"id-1","name":"enrichedAt","value":"={{ $now.toISO() }}","type":"string"},{"id":"id-2","name":"marketContext","value":"={{ $('Fetch Market Trends').first().json.articles[0].title }}","type":"string"},{"id":"id-3","name":"leadSource","value":"CRM API","type":"string"}]},"includeOtherFields":true,"options":{}},"id":"414f1aac-0f16-4696-afe7-0c30724e8170","name":"Enrich Lead Data","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[592,1312]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Calculate lead score based on enriched data\nconst item = $input.item.json;\n\n// Initialize score\nlet leadScore = 0;\n\n// Score based on company size (if available)\nif (item.companySize) {\n  if (item.companySize > 1000) leadScore += 30;\n  else if (item.companySize > 100) leadScore += 20;\n  else if (item.companySize > 10) leadScore += 10;\n}\n\n// Score based on industry match (if available)\nif (item.industry && ['Technology', 'Software', 'SaaS'].includes(item.industry)) {\n  leadScore += 25;\n}\n\n// Score based on engagement level (if available)\nif (item.engagementLevel) {\n  if (item.engagementLevel === 'high') leadScore += 30;\n  else if (item.engagementLevel === 'medium') leadScore += 15;\n}\n\n// Score based on budget (if available)\nif (item.budget) {\n  if (item.budget > 50000) leadScore += 20;\n  else if (item.budget > 10000) leadScore += 10;\n}\n\n// Score based on decision maker status (if available)\nif (item.isDecisionMaker === true) {\n  leadScore += 15;\n}\n\n// Return the item with calculated lead score\nreturn {\n  ...item,\n  leadScore: leadScore,\n  scoreCalculatedAt: new Date().toISOString()\n};"},"id":"4f9d71bb-bc19-4b21-9151-a104a80a7bf7","name":"Calculate Lead Score","type":"n8n-nodes-base.code","typeVersion":2,"position":[816,1312]},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose"},"conditions":[{"id":"id-1","leftValue":"={{ $json.leadScore }}","rightValue":"={{ $('Workflow Configuration').first().json.leadScoreThreshold }}","operator":{"type":"number","operation":"gte"}}],"combinator":"and"},"options":{}},"id":"6e0fcfcb-206a-43a4-8ad2-32a95b7f839b","name":"Check Lead Priority","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1040,1312]},{"parameters":{"sendTo":"={{ $json.email }}","subject":"=High-Priority Lead Alert: {{ $json.companyName }}","message":"=<h2>High-Priority Lead Detected</h2><p><strong>Company:</strong> {{ $json.companyName }}</p><p><strong>Lead Score:</strong> {{ $json.leadScore }}/100</p><p><strong>Industry:</strong> {{ $json.industry }}</p><p><strong>Market Context:</strong> {{ $json.marketContext }}</p><p>This lead requires immediate attention.</p>","options":{}},"id":"7c54cb8b-81a2-4b82-b9bc-5e59bd7ccda5","name":"Send Priority Email","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1264,1216],"webhookId":"8401f5ed-ce42-42b5-8689-249559e6e1bc","credentials":{"gmailOAuth2":{"id":"H1a63hnEe9HnPuDS","name":"Gmail account 2"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"mode":"id","value":"={{ $('Workflow Configuration').first().json.crmSheetId }}"},"sheetName":{"__rl":true,"mode":"name","value":"Leads"},"columns":{"mappingMode":"defineBelow","value":{"companyName":"={{ $json.companyName }}","email":"={{ $json.email }}","leadScore":"={{ $json.leadScore }}","industry":"={{ $json.industry }}","marketContext":"={{ $json.marketContext }}","enrichedAt":"={{ $json.enrichedAt }}"}},"options":{}},"id":"0bc17148-316b-4e28-bc55-bb170b6abf51","name":"Update CRM Sheet","type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1264,1408],"credentials":{"googleSheetsOAuth2Api":{"id":"h3bwraZmRpFZkFlc","name":"Google Sheets account"}}},{"parameters":{"text":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}","options":{}},"type":"@n8n/n8n-nodes-langchain.agentTool","typeVersion":2.2,"position":[256,2464],"id":"ec37492c-c1e8-4908-a25a-637db911b0d0","name":"AI Agent Tool"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[336,2672],"id":"7e63132f-78f3-4c9c-ac77-ff2645285de1","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"YE8ORzbIEiezBSFh","name":"OpenAi account 2"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"chat_1"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[128,2464],"id":"68e9bb4e-dba6-423e-b821-14a58c870844","name":"Simple Memory"}],"connections":{"Every Few Minutes Trigger":{"main":[[{"node":"Workflow Configuration","type":"main","index":0}]]},"Workflow Configuration":{"main":[[{"node":"Fetch Real-Time World Data","type":"main","index":0}]]},"Fetch Real-Time World Data":{"main":[[{"node":"Prompt Generator Agent","type":"main","index":0}]]},"Prompt Generator Agent":{"main":[[{"node":"Format Generated Prompts","type":"main","index":0}]]},"OpenAI GPT Model":{"ai_languageModel":[[{"node":"Prompt Generator Agent","type":"ai_languageModel","index":0}]]},"Format Generated Prompts":{"main":[[{"node":"Log to Google Sheets","type":"main","index":0},{"node":"Send Email Notification","type":"main","index":0},{"node":"Send Slack Message","type":"main","index":0}]]},"Webhook Input Trigger":{"main":[[{"node":"Route by Task Type","type":"main","index":0}]]},"OpenAI GPT Model 2":{"ai_languageModel":[[{"node":"Master Orchestrator Agent","type":"ai_languageModel","index":0}]]},"HTTP Research Tool":{"ai_tool":[[{"node":"Master Orchestrator Agent","type":"ai_tool","index":0}]]},"Google Sheets CRM Tool":{"ai_tool":[[{"node":"Master Orchestrator Agent","type":"ai_tool","index":0}]]},"Gmail Automation Tool":{"ai_tool":[[{"node":"Master Orchestrator Agent","type":"ai_tool","index":0}]]},"Route by Task Type":{"main":[[{"node":"Fetch CRM Data","type":"main","index":0}],[{"node":"Fetch Market Trends","type":"main","index":0}],[{"node":"Master Orchestrator Agent","type":"main","index":0}]]},"Fetch CRM Data":{"main":[[{"node":"Merge All Data Sources","type":"main","index":0}]]},"Fetch Market Trends":{"main":[[{"node":"Merge All Data Sources","type":"main","index":1}]]},"Merge All Data Sources":{"main":[[{"node":"Enrich Lead Data","type":"main","index":0}]]},"Enrich Lead Data":{"main":[[{"node":"Calculate Lead Score","type":"main","index":0}]]},"Calculate Lead Score":{"main":[[{"node":"Check Lead Priority","type":"main","index":0}]]},"Check Lead Priority":{"main":[[{"node":"Send Priority Email","type":"main","index":0}],[{"node":"Update CRM Sheet","type":"main","index":0}]]},"AI Agent Tool":{"ai_tool":[[{"node":"Prompt Generator Agent","type":"ai_tool","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent Tool","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"Prompt Generator Agent","type":"ai_memory","index":0}]]}},"settings":{"executionOrder":"v1","saveExecutionProgress":true,"callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{"node:Every Few Minutes Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"c254849f-1138-4fd1-9b76-9072f9c068fe","activeVersionId":null,"triggerCount":2,"shared":[{"updatedAt":"2025-11-25T11:09:48.992Z","createdAt":"2025-11-25T11:09:48.992Z","role":"workflow:owner","workflowId":"KEAMVP9sVy36EDZZ","projectId":"6UTfsiTpnY2D0Tsy"}],"activeVersion":null,"tags":[]},{"updatedAt":"2025-11-06T07:02:49.000Z","createdAt":"2025-11-06T04:58:00.428Z","id":"QjRHnx6eBfXjhm8A","name":"LinkedIn Cleaning Jobs to Notion Database","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"9dc4edf7-36e7-4740-8a57-c6b73b5b954a","name":"When clicking 'Execute workflow'","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[2560,912]},{"parameters":{"method":"POST","url":"https://api.apify.com/v2/acts/cheap_scraper~linkedin-job-scraper/run-sync-get-dataset-items?token=APIFY_API_KEY_REDACTED","sendBody":true,"specifyBody":"json","jsonBody":"{\n    \"publishedAt\": \"r604800\",\n    \"saveOnlyUniqueItems\": false,\n    \"startUrls\": [\n        {\n            \"url\": \"https://www.linkedin.com/jobs/search/?currentJobId=4247857183&f_TPR=r604800&geoId=106993522&keywords=Huishoudelijke%20schoonmaak&origin=JOB_SEARCH_PAGE_JOB_FILTER&refresh=true\"\n        }\n    ]\n}","options":{}},"id":"2ce6ed85-eb09-4255-b874-e7648bc50886","name":"LinkedIn Schoonmaak","type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[2784,912]},{"parameters":{"jsCode":"// Create organized job listings\nconst jobs = [];\n\nfor (const item of items) {\n  const data = item.json;\n  \n  jobs.push({\n    title: data.jobTitle || 'Geen titel',\n    company: data.companyName || 'Onbekend bedrijf',\n    location: data.location || 'Onbekende locatie',\n    description: data.jobDescription || 'Geen beschrijving',\n    url: data.url || '',\n    postedDate: data.postedDate || 'Onbekend'\n  });\n}\n\nreturn [{ json: { jobs } }];"},"id":"f173e442-8376-4b99-b251-65d4760d80b7","name":"Code in JavaScript","type":"n8n-nodes-base.code","typeVersion":2,"position":[3008,912]},{"parameters":{"options":{}},"id":"0a27499b-ec02-4393-a3d0-43b68eb01e2c","name":"Split Jobs Array","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[3232,912]},{"parameters":{"pageId":{"__rl":true,"mode":"url","value":""},"options":{}},"id":"48fc536d-8559-43f3-ac93-2b6f20796abc","name":"Add to Notion Database","type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[3456,912]}],"connections":{"When clicking 'Execute workflow'":{"main":[[{"node":"LinkedIn Schoonmaak","type":"main","index":0}]]},"LinkedIn Schoonmaak":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Split Jobs Array","type":"main","index":0}]]},"Split Jobs Array":{"main":[[{"node":"Add to Notion Database","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Add to Notion Database":[{"json":{"name":"First item","code":1}},{"json":{"name":"Second item","code":2}}]},"versionId":"52584d85-13df-4564-b27e-304fe4c542c0","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-11-06T04:58:00.431Z","createdAt":"2025-11-06T04:58:00.431Z","role":"workflow:owner","workflowId":"QjRHnx6eBfXjhm8A","projectId":"uYtNtwSdnjBjYtuu"}],"activeVersion":null,"tags":[]},{"updatedAt":"2025-11-14T14:11:15.337Z","createdAt":"2025-11-14T14:11:15.337Z","id":"RKAOEEfuAfIKzA5n","name":"My workflow","active":false,"isArchived":false,"nodes":[{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"f9f45046-3aac-41f1-939d-3269646e542f","operator":{"type":"string","operation":"empty","singleValue":true},"leftValue":"={{ $json[\"Hasil Riset\"] }}","rightValue":""}]},"options":{}},"id":"a8ad8593-c956-4011-86af-333d7feee2d7","name":"If1","type":"n8n-nodes-base.if","position":[512,240],"typeVersion":2.2},{"parameters":{},"id":"2dbc4616-f2c1-46d4-9b28-a7770d85849f","name":"Search Internet1","type":"@tavily/n8n-nodes-tavily.tavilyTool","position":[1952,352],"typeVersion":1,"credentials":{}},{"parameters":{"promptType":"define","text":"=You are an expert business analyst. Your task is to research the company: {{ $json.Perusahaan }}.\n\nYour output must be a comprehensive description that identifies the company's name, its core business, and potential opportunities for improving efficiency and effectiveness by implementing AI solutions.\n\nUse the 'Search Internet' tool to gather the latest information.\n\nStrictly base your analysis on the data found through the internet search. Do not hallucinate or invent information.\n\nYour final output must be only the text description. Do not include any introductory sentences or greetings.","options":{}},"id":"7cfc16c8-dabe-4001-8b37-6d26f6ce6650","name":"Company Research1","type":"@n8n/n8n-nodes-langchain.agent","position":[1024,304],"typeVersion":2},{"parameters":{"options":{}},"id":"09bbb78a-f3b1-45ac-b56c-54bb015ece38","name":"Groq Chat Model1","type":"@n8n/n8n-nodes-langchain.lmChatGroq","position":[1792,400],"typeVersion":1},{"parameters":{"operation":"update","documentId":{"__rl":true,"mode":"list","value":"1nYii2KQDrKZNUPbLJ6r2ogNnGGZggJOJR6b6CGM3slY","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nYii2KQDrKZNUPbLJ6r2ogNnGGZggJOJR6b6CGM3slY/edit?usp=drivesdk","cachedResultName":"Leads To Sales"},"sheetName":{"__rl":true,"mode":"list","value":"gid=0","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nYii2KQDrKZNUPbLJ6r2ogNnGGZggJOJR6b6CGM3slY/edit#gid=0","cachedResultName":"Leads"},"columns":{"value":{"Status":"Leads","Perusahaan":"={{ $('If1').item.json.Perusahaan }}"},"schema":[{"id":"Nama","type":"string","display":true,"required":false,"displayName":"Nama","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Jabatan","type":"string","display":true,"required":false,"displayName":"Jabatan","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Email","type":"string","display":true,"required":false,"displayName":"Email","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Perusahaan","type":"string","display":true,"removed":false,"required":false,"displayName":"Perusahaan","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Hasil Riset","type":"string","display":true,"required":false,"displayName":"Hasil Riset","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Status","type":"string","display":true,"required":false,"displayName":"Status","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Send Email Perkenalan","type":"string","display":true,"removed":false,"required":false,"displayName":"Send Email Perkenalan","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Kirim email","type":"string","display":true,"removed":false,"required":false,"displayName":"Kirim email","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Respon Email Perkenalan","type":"string","display":true,"removed":false,"required":false,"displayName":"Respon Email Perkenalan","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Send email Follow up 1","type":"string","display":true,"removed":false,"required":false,"displayName":"Send email Follow up 1","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Respon Email Follow up 1","type":"string","display":true,"removed":false,"required":false,"displayName":"Respon Email Follow up 1","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Send email Follow up 2","type":"string","display":true,"removed":false,"required":false,"displayName":"Send email Follow up 2","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Respon Email Follow up 2","type":"string","display":true,"removed":false,"required":false,"displayName":"Respon Email Follow up 2","defaultMatch":false,"canBeUsedToMatch":true},{"id":"row_number","type":"string","display":true,"removed":true,"readOnly":true,"required":false,"displayName":"row_number","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":["Perusahaan"],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"5d468df2-173b-443f-b4f5-c8a61139e9ba","name":"updateStatus","type":"n8n-nodes-base.googleSheets","position":[1568,304],"typeVersion":4.6,"credentials":{"googleSheetsOAuth2Api":{"id":"h3bwraZmRpFZkFlc","name":"Google Sheets account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"mode":"list","value":"1nYii2KQDrKZNUPbLJ6r2ogNnGGZggJOJR6b6CGM3slY","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nYii2KQDrKZNUPbLJ6r2ogNnGGZggJOJR6b6CGM3slY/edit?usp=drivesdk","cachedResultName":"Leads To Sales"},"sheetName":{"__rl":true,"mode":"list","value":"gid=0","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nYii2KQDrKZNUPbLJ6r2ogNnGGZggJOJR6b6CGM3slY/edit#gid=0","cachedResultName":"Leads"},"columns":{"value":{"Perusahaan":"={{ $('If1').item.json.Perusahaan }}","Hasil Riset":"={{ $json.output }}"},"schema":[{"id":"Nama","type":"string","display":true,"required":false,"displayName":"Nama","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Jabatan","type":"string","display":true,"required":false,"displayName":"Jabatan","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Email","type":"string","display":true,"required":false,"displayName":"Email","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Perusahaan","type":"string","display":true,"removed":false,"required":false,"displayName":"Perusahaan","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Hasil Riset","type":"string","display":true,"required":false,"displayName":"Hasil Riset","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Status","type":"string","display":true,"removed":false,"required":false,"displayName":"Status","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Send Email Perkenalan","type":"string","display":true,"removed":false,"required":false,"displayName":"Send Email Perkenalan","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Kirim email","type":"string","display":true,"removed":false,"required":false,"displayName":"Kirim email","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Respon Email Perkenalan","type":"string","display":true,"removed":false,"required":false,"displayName":"Respon Email Perkenalan","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Send email Follow up 1","type":"string","display":true,"removed":false,"required":false,"displayName":"Send email Follow up 1","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Respon Email Follow up 1","type":"string","display":true,"removed":false,"required":false,"displayName":"Respon Email Follow up 1","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Send email Follow up 2","type":"string","display":true,"removed":false,"required":false,"displayName":"Send email Follow up 2","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Respon Email Follow up 2","type":"string","display":true,"removed":false,"required":false,"displayName":"Respon Email Follow up 2","defaultMatch":false,"canBeUsedToMatch":true},{"id":"row_number","type":"string","display":true,"removed":true,"readOnly":true,"required":false,"displayName":"row_number","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":["Perusahaan"],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"de53f3ba-f561-49d9-a13d-86fc865ad23e","name":"updateDescription","type":"n8n-nodes-base.googleSheets","position":[1360,304],"typeVersion":4.6,"credentials":{"googleSheetsOAuth2Api":{"id":"h3bwraZmRpFZkFlc","name":"Google Sheets account"}}},{"parameters":{"documentId":{"__rl":true,"mode":"list","value":"1nYii2KQDrKZNUPbLJ6r2ogNnGGZggJOJR6b6CGM3slY","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nYii2KQDrKZNUPbLJ6r2ogNnGGZggJOJR6b6CGM3slY/edit?usp=drivesdk","cachedResultName":"Leads To Sales"},"sheetName":{"__rl":true,"mode":"list","value":102550433,"cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nYii2KQDrKZNUPbLJ6r2ogNnGGZggJOJR6b6CGM3slY/edit#gid=102550433","cachedResultName":"Template"},"filtersUI":{"values":[{"lookupColumn":"Tahap","lookupValue":"={{ $json.Status }}"}]},"options":{}},"id":"331c4fb6-0dda-49ef-abd2-887fa850c5a0","name":"getTemplate","type":"n8n-nodes-base.googleSheets","position":[864,880],"typeVersion":4.6,"credentials":{"googleSheetsOAuth2Api":{"id":"h3bwraZmRpFZkFlc","name":"Google Sheets account"}}},{"parameters":{"jsonSchemaExample":"{\n    \"emailSubject\":\"Subject email \",\n    \"emailBody\": \"body email lengkap\"\n}"},"id":"9e98a549-5430-41d0-82fd-76c66d25eed2","name":"Structured Output Parser1","type":"@n8n/n8n-nodes-langchain.outputParserStructured","position":[2368,928],"typeVersion":1.3},{"parameters":{"operation":"update","documentId":{"__rl":true,"mode":"list","value":"1nYii2KQDrKZNUPbLJ6r2ogNnGGZggJOJR6b6CGM3slY","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nYii2KQDrKZNUPbLJ6r2ogNnGGZggJOJR6b6CGM3slY/edit?usp=drivesdk","cachedResultName":"Leads To Sales"},"sheetName":{"__rl":true,"mode":"id","value":"=gid=0"},"columns":{"value":{"Perusahaan":"={{ $('If1').item.json.Perusahaan }}","Send Email Perkenalan":"={{ $json.output }}"},"schema":[{"id":"Nama","type":"string","display":true,"required":false,"displayName":"Nama","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Jabatan","type":"string","display":true,"required":false,"displayName":"Jabatan","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Email","type":"string","display":true,"required":false,"displayName":"Email","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Perusahaan","type":"string","display":true,"removed":false,"required":false,"displayName":"Perusahaan","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Hasil Riset","type":"string","display":true,"required":false,"displayName":"Hasil Riset","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Status","type":"string","display":true,"required":false,"displayName":"Status","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Send Email Perkenalan","type":"string","display":true,"required":false,"displayName":"Send Email Perkenalan","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Kirim email","type":"string","display":true,"removed":false,"required":false,"displayName":"Kirim email","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Respon Email Perkenalan","type":"string","display":true,"required":false,"displayName":"Respon Email Perkenalan","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Send email Follow up 1","type":"string","display":true,"required":false,"displayName":"Send email Follow up 1","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Respon Email Follow up 1","type":"string","display":true,"required":false,"displayName":"Respon Email Follow up 1","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Send email Follow up 2","type":"string","display":true,"required":false,"displayName":"Send email Follow up 2","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Respon Email Follow up 2","type":"string","display":true,"required":false,"displayName":"Respon Email Follow up 2","defaultMatch":false,"canBeUsedToMatch":true},{"id":"row_number","type":"string","display":true,"removed":true,"readOnly":true,"required":false,"displayName":"row_number","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":["Perusahaan"],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"3b949728-f43d-43f6-9a5a-1b9d52a4be9e","name":"draftEmail","type":"n8n-nodes-base.googleSheets","position":[1504,880],"typeVersion":4.6,"credentials":{"googleSheetsOAuth2Api":{"id":"h3bwraZmRpFZkFlc","name":"Google Sheets account"}}},{"parameters":{},"id":"4cd28095-5c2f-485d-9ee9-da524f4fa128","name":"When clicking ‘Execute workflow’","type":"n8n-nodes-base.manualTrigger","position":[64,240],"typeVersion":1},{"parameters":{"documentId":{"__rl":true,"mode":"list","value":"1nYii2KQDrKZNUPbLJ6r2ogNnGGZggJOJR6b6CGM3slY","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nYii2KQDrKZNUPbLJ6r2ogNnGGZggJOJR6b6CGM3slY/edit?usp=drivesdk","cachedResultName":"Leads To Sales"},"sheetName":{"__rl":true,"mode":"list","value":"gid=0","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nYii2KQDrKZNUPbLJ6r2ogNnGGZggJOJR6b6CGM3slY/edit#gid=0","cachedResultName":"Leads"},"options":{}},"id":"22f8337f-a365-480a-bfcb-d0f64af24db7","name":"Get row(s) in sheet","type":"n8n-nodes-base.googleSheets","position":[288,240],"typeVersion":4.6,"credentials":{"googleSheetsOAuth2Api":{"id":"h3bwraZmRpFZkFlc","name":"Google Sheets account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"mode":"list","value":"1nYii2KQDrKZNUPbLJ6r2ogNnGGZggJOJR6b6CGM3slY","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nYii2KQDrKZNUPbLJ6r2ogNnGGZggJOJR6b6CGM3slY/edit?usp=drivesdk","cachedResultName":"Leads To Sales"},"sheetName":{"__rl":true,"mode":"list","value":"gid=0","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nYii2KQDrKZNUPbLJ6r2ogNnGGZggJOJR6b6CGM3slY/edit#gid=0","cachedResultName":"Leads"},"columns":{"value":{"Perusahaan":"={{ $('If1').item.json.Perusahaan }}","Kirim email":"=https://n8n-brccptxv.ap-southeast-1.clawcloudrun.com/webhook/18169b76-7b07-4fce-95c4-7e5bb6244ed1/send-email/{{ $json.perusahaan_url_encoded }}"},"schema":[{"id":"Nama","type":"string","display":true,"required":false,"displayName":"Nama","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Jabatan","type":"string","display":true,"required":false,"displayName":"Jabatan","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Email","type":"string","display":true,"required":false,"displayName":"Email","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Perusahaan","type":"string","display":true,"removed":false,"required":false,"displayName":"Perusahaan","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Hasil Riset","type":"string","display":true,"required":false,"displayName":"Hasil Riset","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Status","type":"string","display":true,"required":false,"displayName":"Status","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Send Email Perkenalan","type":"string","display":true,"required":false,"displayName":"Send Email Perkenalan","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Kirim email","type":"string","display":true,"required":false,"displayName":"Kirim email","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Respon Email Perkenalan","type":"string","display":true,"required":false,"displayName":"Respon Email Perkenalan","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Send email Follow up 1","type":"string","display":true,"required":false,"displayName":"Send email Follow up 1","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Respon Email Follow up 1","type":"string","display":true,"required":false,"displayName":"Respon Email Follow up 1","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Send email Follow up 2","type":"string","display":true,"required":false,"displayName":"Send email Follow up 2","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Respon Email Follow up 2","type":"string","display":true,"required":false,"displayName":"Respon Email Follow up 2","defaultMatch":false,"canBeUsedToMatch":true},{"id":"row_number","type":"string","display":true,"removed":true,"readOnly":true,"required":false,"displayName":"row_number","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":["Perusahaan"],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"03efcedf-240f-431b-890c-18519682c5cc","name":"inputLink","type":"n8n-nodes-base.googleSheets","position":[1872,880],"typeVersion":4.6,"credentials":{"googleSheetsOAuth2Api":{"id":"h3bwraZmRpFZkFlc","name":"Google Sheets account"}}},{"parameters":{"jsCode":"// Array untuk menampung hasil yang akan dikirim ke node selanjutnya\nconst outputItems = [];\n\n// Loop melalui setiap item yang masuk dari node sebelumnya\nfor (const item of items) {\n  try {\n    // 1. Ambil nama perusahaan dari object JSON\n    // Pastikan key 'Perusahaan' ada di dalam data Anda\n    const namaPerusahaan = item.json.Perusahaan;\n\n    // 2. Lakukan replace spasi dengan '%20'\n    // Menggunakan encodeURIComponent() adalah cara yang paling tepat dan aman\n    // untuk mempersiapkan string sebagai bagian dari URL.\n    // Ini tidak hanya mengganti spasi, tapi juga karakter spesial lainnya.\n    const namaPerusahaanEncoded = encodeURIComponent(namaPerusahaan);\n\n    // Alternatif jika Anda HANYA ingin mengganti spasi:\n    // const namaPerusahaanEncoded = namaPerusahaan.replace(/ /g, '%20');\n\n    // 3. Buat object baru untuk output\n    // Anda bisa menyertakan data asli jika perlu dengan '...item.json'\n    const outputData = {\n      ...item.json, // Menyalin semua data asli\n      perusahaan_url_encoded: namaPerusahaanEncoded // Menambahkan field baru dengan hasil replace\n    };\n\n    // Tambahkan hasil ke dalam array output\n    outputItems.push({ json: outputData });\n\n  } catch (error) {\n    // Jika terjadi error (misalnya key 'Perusahaan' tidak ditemukan),\n    // teruskan item tersebut tanpa perubahan untuk menghindari workflow berhenti.\n    outputItems.push(item);\n  }\n}\n\n// Kembalikan semua item yang telah diproses untuk digunakan oleh node selanjutnya\nreturn outputItems;"},"id":"053ad2a4-4a64-47f0-8e8c-e34f3a5d114f","name":"Code","type":"n8n-nodes-base.code","position":[1680,880],"typeVersion":2},{"parameters":{},"id":"43247333-cf8e-4506-a20d-aca1c0a0090c","name":"Search Internet2","type":"@tavily/n8n-nodes-tavily.tavilyTool","position":[2224,992],"typeVersion":1,"credentials":{}},{"parameters":{"options":{}},"id":"d55d945a-1379-40f1-ae33-e488d0b7c980","name":"Loop Over Items1","type":"n8n-nodes-base.splitInBatches","position":[800,304],"typeVersion":3},{"parameters":{"options":{}},"id":"949aee49-d3b1-4a11-89f7-bcaff99aa15a","name":"Groq Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatGroq","position":[2080,928],"typeVersion":1},{"parameters":{"documentId":{"__rl":true,"mode":"list","value":"1nYii2KQDrKZNUPbLJ6r2ogNnGGZggJOJR6b6CGM3slY","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nYii2KQDrKZNUPbLJ6r2ogNnGGZggJOJR6b6CGM3slY/edit?usp=drivesdk","cachedResultName":"Leads To Sales"},"sheetName":{"__rl":true,"mode":"list","value":1197995458,"cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nYii2KQDrKZNUPbLJ6r2ogNnGGZggJOJR6b6CGM3slY/edit#gid=1197995458","cachedResultName":"List Product"},"options":{}},"id":"61229ce7-505f-4d13-a152-c2ccd3bc5818","name":"getService","type":"n8n-nodes-base.googleSheets","position":[1024,880],"typeVersion":4.6,"credentials":{"googleSheetsOAuth2Api":{"id":"h3bwraZmRpFZkFlc","name":"Google Sheets account"}}},{"parameters":{"content":"## Get Leads Data\n*   **Data Source:** The workflow starts by fetching lead data from a **Google Sheet**. This sheet is designed to act as a central hub, likely connected to a **Google Form** where new leads are automatically captured. This architecture is highly flexible; the Google Sheet can be easily replaced with other data sources like a **Supabase** database, **Airtable**, or even be pulled directly from your **CRM**.\n*   **Smart Filter:** Before being processed further, the workflow performs a crucial check using an `If` node. It verifies if the \"Research_Result\" column for a lead is empty. This is a key efficiency measure to ensure the workflow **only processes new leads** that haven't been previously analyzed, preventing duplicate work.","height":380,"width":720,"color":4},"id":"937fe02f-ecdd-441d-af77-6bcb30c7cc4d","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1},{"parameters":{"content":"## Company Research\n*   **Individual Processing:** Each qualified lead is then processed individually using the `Loop Over Items` node, ensuring that every research task and the generated email is focused and specific to a single company at a time.\n*   **AI Business Analyst:** The core of this stage is an **AI Agent** (`Company Research1`) assigned the role of an expert business analyst. Its task goes beyond finding general information. Based on a specific *prompt*, the AI is assigned to:\n    *   Identify the target company's name and core business model.\n    *   Find the latest and most relevant information about the company.\n    *   **Analyze and identify opportunities** where your company's AI and automation services can improve efficiency and effectiveness.\n*   **Accurate & Current Data:** To avoid hallucinations and ensure relevance, the AI Agent is equipped with a **real-time internet search** tool (using `Tavily`). This allows it to access the latest news, reports, and articles about the target company.\n*   **Recording the Results:** The analytical description from the research is automatically inserted back into the Google Sheet under the `Research_Result` column for the corresponding lead. The lead's status is also updated to `Researched`, indicating that the research phase is complete and the lead is ready for email generation.\n","height":540,"width":1380,"color":3},"id":"f4e154c5-8ace-46e7-94b0-54b4b3dcf1f3","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[768,0],"typeVersion":1},{"parameters":{"content":"## Generate & Send Lead Email\n*   **Gathering Context:** A second **AI Sales Assistant** ,\" is activated. This agent gathers various pieces of information to craft the perfect email:\n    *   **Lead Data:** The contact's name, position, and company name.\n    *   **Research Results:** The in-depth analysis from the previous stage.\n    *   **Your Services:** A list of the products/services you offer, fetched from the \"List Product\" sheet.\n    *   **Template & Theme:** The appropriate email template from the \"Template\" sheet, based on the lead's status (e.g., an \"Introduction\" email).\n*   **Additional Research for a \"Hook\":** To make the email stand out, the AI performs a **second, more targeted internet search**. The goal is to find a recent statistic or fact (e.g., *\"ESG reporting challenges for Indonesian banks in 2025\"*) that is highly relevant to the recipient's position, which will be used as a powerful opening line (the hook).\n*   **Drafting the Email & CTA:** Using all this context, the AI drafts a complete email—including the *subject* and *body*—that is personalized, relevant, and leads to a clear *Call to Action* (CTA). The result is saved in a structured JSON format in the `Draft_Intro_Email` column.\n*   **The Send Trigger:** The workflow cleverly creates a **unique URL** in the `Send_Email_Link` column. This URL functions as a manual trigger. When you click this link in Google Sheets, it calls a webhook that can be configured to send the email. This provides a layer of *'human-in-the-loop'* control, allowing the sales team to review the draft before it's sent.","height":560,"width":1720,"color":5},"id":"fde29458-1193-476d-b6fb-1a79b85c1484","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[832,560],"typeVersion":1},{"parameters":{"content":"## Overall Description & Potential\n\n**<< What Does This Flow Do? >>**\n\nOverall, this workflow is an **intelligent sales outreach automation engine** that transforms raw leads from a form or a list into highly personalized, ready-to-send introductory email drafts. The process is: it starts by fetching data, enriches it with in-depth AI research to uncover \"pain points,\" and then uses those research findings to craft an email that is relevant to the solutions you offer.\n\nThis system solves a key problem in sales: the lack of time to conduct in-depth research on every single lead. By automating the research and drafting stages, the sales team can focus on higher-value activities, like engaging with \"warm\" prospects and handling negotiations. Using Google Sheets as the main dashboard allows the team to monitor the entire process—from lead entry, research status, and email drafts, all the way to the send link—all within a single, familiar interface.\n\n**<< Potential Future Enhancements >>**\n\nThis workflow has a very strong foundation and can be further developed into an even more sophisticated system:\n\n1.  **Full Automation (Zero-Touch):** Instead of generating a manual-click link, the output from the AI Agent can be directly piped into a **Gmail** or **Microsoft 365 Email** node to send emails automatically. A `Wait` node could be added to create a delay of a few minutes or hours after the draft is created, preventing instant sending.\n\n2.  **Automated Follow-up Sequences:** The workflow can be extended to manage follow-up emails. By using a webhook to track email opens or replies, you could build logic like: *\"If the intro email is not replied to within 3 days, trigger the AI Agent again to generate follow-up email #1 based on a different template, and then send it.\"*\n\n3.  **AI-Powered Lead Scoring:** After the research stage, the AI could be given the additional task of **scoring leads** (e.g., 1-10 or High/Medium/Low Priority) based on how well the target company's profile matches your ideal customer profile (ICP). This helps the sales team prioritize the most promising leads.\n\n4.  **Full CRM Integration:** Instead of Google Sheets, the workflow could connect directly to **HubSpot, Salesforce, or Pipedrive**. It would pull new leads from the CRM, perform the research, draft the email, and log all activities (research results, sent emails) back to the contact's timeline in the CRM automatically.\n\n5.  **Multi-Channel Outreach:** Beyond email, the AI could be instructed to draft personalized **LinkedIn Connection Request** messages or **WhatsApp** messages. The workflow could then use the appropriate APIs to send these messages, expanding your outreach beyond just email.","height":940,"width":720,"color":7},"id":"e5ffeb43-0773-4a6c-bdde-4b152dec01a9","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[0,432],"typeVersion":1},{"parameters":{"promptType":"define","text":"=You are an expert AI Sales Assistant, tasked with drafting a personalized and relevant email based on the provided data and additional research.\n\n1. PRIMARY CONTEXT (Based on Provided Data):\nSender's Company: Ainabler.com (IT consulting firm specializing in AI & Automation).\nSender's Name: Hanif R (Technical Sales).\nTarget Company: {{ $('If1').item.json.Perusahaan }}\nTarget Recipient: {{ $('If1').item.json.Nama }}\nRecipient's Position: {{ $('If1').item.json.Jabatan }}\nSales Stage: {{ $('getTemplate').item.json.Tahap }}\nMain Email Theme: {{ $('getTemplate').item.json.Tema }}\nKey Information: {{ $('Company Research1').item.json.output }}\nSample Message (For inspiration, not a rigid template): {{ $('getTemplate').item.json['Contoh message'] }}\nToday's Date: {{ $now }}\n\n2. ADDITIONAL RESEARCH TASK (Use Search Internet2):\nBefore writing the email, use Search Internet2 to find one or two recent facts/statistics (from 2024-2025) relevant to the recipient's position and their industry. The goal is to add a strong, data-driven 'hook' to make the email opening compelling.\nExample Research Direction: Based on the position '{{ $('If1').item.json.Jabatan }}', formulate a smart search query.\n- If the position is related to ESG, search for: \"ESG reporting challenges Indonesian banking 2025\"\n- If the position is related to Digital/Operations, search for: \"AI adoption statistics in Southeast Asia financial sector\"\n\n3. FINAL TASK: DRAFT THE EMAIL\nUse ALL the information above (Primary Context + Additional Research) to create one email draft.\n- Personalization: Mention the recipient's company name and position to show this is not a mass email.\n- Relevance: Connect the industry challenges (discovered from your research) with the solutions offered by Ainabler.com.\n- Value Proposition: Craft a natural and seamless offer based on our services and the target's business line. Adapt from the sample message, but do not be rigid.\n- Call to Action: Propose a brief discussion to explore possibilities.\n\n4. OUTPUT FORMAT (MANDATORY):\nYour final response MUST be a single, valid JSON object. Do not include any text, introductions, or closings outside of this JSON object.\n\n{\n  \"emailSubject\": \"A compelling and specific email subject\",\n  \"emailBody\": \"The complete, personalized, and relevant email body.\"\n}","hasOutputParser":true,"options":{}},"id":"7f542035-e6df-4d17-9f06-bae5208f4284","name":"AI Sales Assistant","type":"@n8n/n8n-nodes-langchain.agent","position":[1200,880],"executeOnce":true,"typeVersion":2,"onError":"continueRegularOutput"}],"connections":{"If1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Code":{"main":[[{"node":"inputLink","type":"main","index":0}]]},"inputLink":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"draftEmail":{"main":[[{"node":"Code","type":"main","index":0}]]},"getService":{"main":[[]]},"getTemplate":{"main":[[{"node":"getService","type":"main","index":0}]]},"updateStatus":{"main":[[{"node":"getTemplate","type":"main","index":0}]]},"Groq Chat Model":{"ai_languageModel":[[]]},"Groq Chat Model1":{"ai_languageModel":[[]]},"Loop Over Items1":{"main":[[],[]]},"Search Internet1":{"ai_tool":[[]]},"Search Internet2":{"ai_tool":[[]]},"Company Research1":{"main":[[{"node":"updateDescription","type":"main","index":0}]]},"updateDescription":{"main":[[{"node":"updateStatus","type":"main","index":0}]]},"AI Sales Assistant":{"main":[[{"node":"draftEmail","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"If1","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"b6513778-9aed-4fd5-bd30-eed422c857f5","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-11-14T14:11:15.340Z","createdAt":"2025-11-14T14:11:15.340Z","role":"workflow:owner","workflowId":"RKAOEEfuAfIKzA5n","projectId":"uYtNtwSdnjBjYtuu"}],"activeVersion":null,"tags":[]},{"updatedAt":"2025-12-15T14:00:09.381Z","createdAt":"2025-12-11T22:18:40.691Z","id":"RzQF3P7OYoJuHLwx","name":"Multi-AI Platform Integration Hub with Comprehensive Connector Options","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"964ff7d7-61ae-4fa4-a75b-6fd34ab1145f","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-720,1344]},{"parameters":{"assignments":{"assignments":[{"id":"id-1","name":"aiPlatform","value":"openai","type":"string"},{"id":"id-2","name":"userPrompt","value":"Your question or task here","type":"string"}]},"includeOtherFields":true,"options":{}},"id":"2f6c333f-09b3-4a66-90ed-3ebbd16b2dc1","name":"Workflow Configuration","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-496,1344]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.aiPlatform }}","rightValue":"openai","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"OpenAI"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.aiPlatform }}","rightValue":"claude","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Claude"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.aiPlatform }}","rightValue":"gemini","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Gemini"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.aiPlatform }}","rightValue":"azure","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Azure"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.aiPlatform }}","rightValue":"cohere","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Cohere"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.aiPlatform }}","rightValue":"huggingface","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"HuggingFace"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.aiPlatform }}","rightValue":"mistral","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Mistral"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.aiPlatform }}","rightValue":"groq","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Groq"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.aiPlatform }}","rightValue":"ollama","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Ollama"}]},"options":{}},"id":"9fc20dba-7d3b-450f-bfd6-e09d36d20b2a","name":"Select AI Platform","type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[-272,1232]},{"parameters":{"operation":"message"},"id":"ba22f008-5d3e-4a51-804b-ca7696cd7a54","name":"OpenAI GPT","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2,"position":[400,48],"credentials":{"openAiApi":{"id":"m99AwxO5mNlwLtaw","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"mode":"id","value":"claude-3-5-sonnet-20241022"},"messages":{"values":[{"content":"={{ $json.userPrompt }}"}]},"options":{}},"id":"bc4cf901-731b-4561-a151-c6e358ff874d","name":"Anthropic Claude","type":"@n8n/n8n-nodes-langchain.anthropic","typeVersion":1,"position":[400,448]},{"parameters":{"modelId":{"__rl":true,"mode":"id","value":"gemini-1.5-pro"},"messages":{"values":[{"content":"={{ $json.userPrompt }}"}]},"options":{}},"id":"299d87b3-ca28-4bd9-a6ad-d1215b829c24","name":"Google Gemini","type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1,"position":[400,640]},{"parameters":{"model":"gpt-4o","options":{}},"id":"2692e760-6e75-4d76-8377-1e534816b40a","name":"Azure OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatAzureOpenAi","typeVersion":1,"position":[400,1056]},{"parameters":{"promptType":"define","text":"={{ $json.userPrompt }}","options":{"systemMessage":"You are a helpful AI assistant with access to various tools. Use the available tools to help answer questions and complete tasks effectively."}},"id":"d5fc4a38-135d-4f82-82ee-ccfe1c56f247","name":"Azure OpenAI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[400,832]},{"parameters":{"model":"command-r-plus","options":{}},"id":"24e0eae9-1cbd-4031-8d92-fb4503702ec7","name":"Cohere Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatCohere","typeVersion":1,"position":[464,1456]},{"parameters":{"promptType":"define","text":"={{ $json.userPrompt }}","options":{"systemMessage":"You are a helpful AI assistant with access to various tools. Use the available tools to help answer questions and complete tasks effectively."}},"id":"8a5b0ca8-7b0e-49e7-898e-98a9d142c6a8","name":"Cohere Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[400,1232]},{"parameters":{"model":"<__PLACEHOLDER_VALUE__HuggingFace Model ID (e.g., meta-llama/Llama-2-70b-chat-hf)__>","options":{}},"id":"a10ad933-6d01-4c35-80af-7b31432ca96e","name":"HuggingFace Model","type":"@n8n/n8n-nodes-langchain.lmOpenHuggingFaceInference","typeVersion":1,"position":[-720,3056]},{"parameters":{"promptType":"define","text":"={{ $json.userPrompt }}","options":{"systemMessage":"You are a helpful AI assistant with access to various tools. Use the available tools to help answer questions and complete tasks effectively."}},"id":"cc760e45-04b9-494d-9bf9-ccbc9bb1a881","name":"HuggingFace Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[400,1632]},{"parameters":{"model":"mistral-large-latest","options":{}},"id":"eb27b9cc-ac17-40b1-94f6-68e4f4e9906f","name":"Mistral Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatMistralCloud","typeVersion":1,"position":[464,2048]},{"parameters":{"promptType":"define","text":"={{ $json.userPrompt }}","options":{"systemMessage":"You are a helpful AI assistant with access to various tools. Use the available tools to help answer questions and complete tasks effectively."}},"id":"37d52ac6-abf6-493c-a89e-222fc4897022","name":"Mistral Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[400,1824]},{"parameters":{"model":"llama-3.3-70b-versatile","options":{}},"id":"c72f44f1-1c8b-4d6e-8437-f5f01f39077a","name":"Groq Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[464,2448]},{"parameters":{"promptType":"define","text":"={{ $json.userPrompt }}","options":{"systemMessage":"You are a helpful AI assistant with access to various tools. Use the available tools to help answer questions and complete tasks effectively."}},"id":"e3e87345-6e11-4d29-90fa-7e09d9ac08c9","name":"Groq Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[400,2224]},{"parameters":{"model":"<__PLACEHOLDER_VALUE__Ollama Model Name (e.g., llama2, mistral)__>","options":{}},"id":"be7f6545-ceb0-419c-8efe-f4dfdeb84ef8","name":"Ollama Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOllama","typeVersion":1,"position":[464,2960]},{"parameters":{"promptType":"define","text":"={{ $json.userPrompt }}","options":{"systemMessage":"You are a helpful AI assistant with access to various tools. Use the available tools to help answer questions and complete tasks effectively."}},"id":"3f1059b0-29e3-4f62-8719-116ad7ac5838","name":"Ollama Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[400,2736]},{"parameters":{},"id":"e1af7cc4-fb95-45a2-9254-3983012a393c","name":"Calculator Tool","type":"@n8n/n8n-nodes-langchain.toolCalculator","typeVersion":1,"position":[-48,272]},{"parameters":{"description":"Execute custom JavaScript or Python code to perform calculations or data transformations","jsCode":"const input = $fromAI(\"code_input\");\nreturn { result: eval(input) };"},"id":"f0e57ed1-d1da-4272-8841-313eae73e417","name":"Code Tool","type":"@n8n/n8n-nodes-langchain.toolCode","typeVersion":1.3,"position":[80,272]},{"parameters":{"toolDescription":"Make HTTP requests to external APIs","url":"={{ $fromAI(\"api_url\") }}","options":{}},"id":"e9ada03b-66a0-44f9-adfb-08de51ea7e35","name":"HTTP Request Tool","type":"n8n-nodes-base.httpRequestTool","typeVersion":4.3,"position":[208,272]},{"parameters":{"sendTo":"={{ $fromAI('recipient_email') }}","subject":"={{ $fromAI('email_subject') }}","message":"={{ $fromAI('email_body') }}","options":{}},"id":"d13270be-2131-4a66-8faf-2cb4f05763a1","name":"Gmail Tool","type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[336,272],"webhookId":"469e2793-a918-4e9e-aa7b-7b6662c06e62","credentials":{"gmailOAuth2":{"id":"w5Bkx9KNgceO6ztH","name":"Gmail account"}}},{"parameters":{"select":"channel","channelId":{"__rl":true,"mode":"name","value":"={{ $fromAI('channel_name') }}"},"text":"={{ $fromAI('message_text') }}","otherOptions":{}},"id":"1185315a-6dc8-4641-8aa9-160815cf4d00","name":"Slack Tool","type":"n8n-nodes-base.slackTool","typeVersion":2.3,"position":[464,272],"webhookId":"86f4bc45-27a1-465e-ac67-24633c300929","credentials":{"slackApi":{"id":"qKrD8fb7lCVqUkPX","name":"Unnamed credential"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"mode":"id","value":"={{ $fromAI('spreadsheet_id') }}"},"sheetName":{"__rl":true,"mode":"name","value":"={{ $fromAI('sheet_name') }}"},"options":{}},"id":"4b018d49-50d2-498e-99dc-fc9a86edfedc","name":"Google Sheets Tool","type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.7,"position":[592,272],"credentials":{"googleSheetsOAuth2Api":{"id":"h3bwraZmRpFZkFlc","name":"Google Sheets account"}}},{"parameters":{"calendar":{"__rl":true,"mode":"id","value":"={{ $fromAI(\"calendar_id\", \"Calendar ID\", \"string\", \"primary\") }}"},"start":"={{ $fromAI(\"start_time\") }}","end":"={{ $fromAI(\"end_time\") }}","additionalFields":{"summary":"={{ $fromAI(\"event_title\") }}"}},"id":"dde7260f-3ecb-431f-9447-f644ceb7fdb2","name":"Google Calendar Tool","type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[720,272]},{"parameters":{"pageId":{"__rl":true,"mode":"url","value":""},"options":{}},"id":"fad5c05d-f8d5-4233-8aba-15ddada21a99","name":"Notion Tool","type":"n8n-nodes-base.notionTool","typeVersion":2.2,"position":[848,272]},{"parameters":{"operation":"create","base":{"__rl":true,"mode":"id","value":"={{ $fromAI('base_id') }}"},"table":{"__rl":true,"mode":"id","value":"={{ $fromAI('table_id') }}"},"options":{}},"id":"0e04c6da-a297-4fc8-be26-8c273ad5e630","name":"Airtable Tool","type":"n8n-nodes-base.airtableTool","typeVersion":2.1,"position":[976,272]},{"parameters":{"sessionKey":"={{ $json.sessionId || \"default\" }}"},"id":"d595a3a3-816d-4614-8c9a-bb1720018991","name":"Window Buffer Memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[528,1056]}],"connections":{"Manual Trigger":{"main":[[{"node":"Workflow Configuration","type":"main","index":0}]]},"Workflow Configuration":{"main":[[{"node":"Select AI Platform","type":"main","index":0}]]},"Select AI Platform":{"main":[[{"node":"OpenAI GPT","type":"main","index":0}],[{"node":"Anthropic Claude","type":"main","index":0}],[{"node":"Google Gemini","type":"main","index":0}],[{"node":"Azure OpenAI Agent","type":"main","index":0}],[{"node":"Cohere Agent","type":"main","index":0}],[{"node":"HuggingFace Agent","type":"main","index":0}],[{"node":"Mistral Agent","type":"main","index":0}],[{"node":"Groq Agent","type":"main","index":0}],[{"node":"Ollama Agent","type":"main","index":0}]]},"Azure OpenAI Chat Model":{"ai_languageModel":[[{"node":"Azure OpenAI Agent","type":"ai_languageModel","index":0}]]},"Cohere Chat Model":{"ai_languageModel":[[{"node":"Cohere Agent","type":"ai_languageModel","index":0}]]},"Mistral Chat Model":{"ai_languageModel":[[{"node":"Mistral Agent","type":"ai_languageModel","index":0}]]},"Groq Chat Model":{"ai_languageModel":[[{"node":"Groq Agent","type":"ai_languageModel","index":0}]]},"Ollama Chat Model":{"ai_languageModel":[[{"node":"Ollama Agent","type":"ai_languageModel","index":0}]]},"Calculator Tool":{"ai_tool":[[{"node":"OpenAI GPT","type":"ai_tool","index":0},{"node":"Anthropic Claude","type":"ai_tool","index":0},{"node":"Google Gemini","type":"ai_tool","index":0},{"node":"Azure OpenAI Agent","type":"ai_tool","index":0},{"node":"Cohere Agent","type":"ai_tool","index":0},{"node":"HuggingFace Agent","type":"ai_tool","index":0},{"node":"Mistral Agent","type":"ai_tool","index":0},{"node":"Groq Agent","type":"ai_tool","index":0},{"node":"Ollama Agent","type":"ai_tool","index":0}]]},"Code Tool":{"ai_tool":[[{"node":"OpenAI GPT","type":"ai_tool","index":0},{"node":"Anthropic Claude","type":"ai_tool","index":0},{"node":"Google Gemini","type":"ai_tool","index":0},{"node":"Azure OpenAI Agent","type":"ai_tool","index":0},{"node":"Cohere Agent","type":"ai_tool","index":0},{"node":"HuggingFace Agent","type":"ai_tool","index":0},{"node":"Mistral Agent","type":"ai_tool","index":0},{"node":"Groq Agent","type":"ai_tool","index":0},{"node":"Ollama Agent","type":"ai_tool","index":0}]]},"HTTP Request Tool":{"ai_tool":[[{"node":"OpenAI GPT","type":"ai_tool","index":0},{"node":"Anthropic Claude","type":"ai_tool","index":0},{"node":"Google Gemini","type":"ai_tool","index":0},{"node":"Azure OpenAI Agent","type":"ai_tool","index":0},{"node":"Cohere Agent","type":"ai_tool","index":0},{"node":"HuggingFace Agent","type":"ai_tool","index":0},{"node":"Mistral Agent","type":"ai_tool","index":0},{"node":"Groq Agent","type":"ai_tool","index":0},{"node":"Ollama Agent","type":"ai_tool","index":0}]]},"Gmail Tool":{"ai_tool":[[{"node":"OpenAI GPT","type":"ai_tool","index":0},{"node":"Anthropic Claude","type":"ai_tool","index":0},{"node":"Google Gemini","type":"ai_tool","index":0},{"node":"Azure OpenAI Agent","type":"ai_tool","index":0},{"node":"Cohere Agent","type":"ai_tool","index":0},{"node":"HuggingFace Agent","type":"ai_tool","index":0},{"node":"Mistral Agent","type":"ai_tool","index":0},{"node":"Groq Agent","type":"ai_tool","index":0},{"node":"Ollama Agent","type":"ai_tool","index":0}]]},"Slack Tool":{"ai_tool":[[{"node":"OpenAI GPT","type":"ai_tool","index":0},{"node":"Anthropic Claude","type":"ai_tool","index":0},{"node":"Google Gemini","type":"ai_tool","index":0},{"node":"Azure OpenAI Agent","type":"ai_tool","index":0},{"node":"Cohere Agent","type":"ai_tool","index":0},{"node":"HuggingFace Agent","type":"ai_tool","index":0},{"node":"Mistral Agent","type":"ai_tool","index":0},{"node":"Groq Agent","type":"ai_tool","index":0},{"node":"Ollama Agent","type":"ai_tool","index":0}]]},"Google Sheets Tool":{"ai_tool":[[{"node":"OpenAI GPT","type":"ai_tool","index":0},{"node":"Anthropic Claude","type":"ai_tool","index":0},{"node":"Google Gemini","type":"ai_tool","index":0},{"node":"Azure OpenAI Agent","type":"ai_tool","index":0},{"node":"Cohere Agent","type":"ai_tool","index":0},{"node":"HuggingFace Agent","type":"ai_tool","index":0},{"node":"Mistral Agent","type":"ai_tool","index":0},{"node":"Groq Agent","type":"ai_tool","index":0},{"node":"Ollama Agent","type":"ai_tool","index":0}]]},"Google Calendar Tool":{"ai_tool":[[{"node":"OpenAI GPT","type":"ai_tool","index":0},{"node":"Anthropic Claude","type":"ai_tool","index":0},{"node":"Google Gemini","type":"ai_tool","index":0},{"node":"Azure OpenAI Agent","type":"ai_tool","index":0},{"node":"Cohere Agent","type":"ai_tool","index":0},{"node":"HuggingFace Agent","type":"ai_tool","index":0},{"node":"Mistral Agent","type":"ai_tool","index":0},{"node":"Groq Agent","type":"ai_tool","index":0},{"node":"Ollama Agent","type":"ai_tool","index":0}]]},"Notion Tool":{"ai_tool":[[{"node":"OpenAI GPT","type":"ai_tool","index":0},{"node":"Anthropic Claude","type":"ai_tool","index":0},{"node":"Google Gemini","type":"ai_tool","index":0},{"node":"Azure OpenAI Agent","type":"ai_tool","index":0},{"node":"Cohere Agent","type":"ai_tool","index":0},{"node":"HuggingFace Agent","type":"ai_tool","index":0},{"node":"Mistral Agent","type":"ai_tool","index":0},{"node":"Groq Agent","type":"ai_tool","index":0},{"node":"Ollama Agent","type":"ai_tool","index":0}]]},"Airtable Tool":{"ai_tool":[[{"node":"OpenAI GPT","type":"ai_tool","index":0},{"node":"Anthropic Claude","type":"ai_tool","index":0},{"node":"Google Gemini","type":"ai_tool","index":0},{"node":"Azure OpenAI Agent","type":"ai_tool","index":0},{"node":"Cohere Agent","type":"ai_tool","index":0},{"node":"HuggingFace Agent","type":"ai_tool","index":0},{"node":"Mistral Agent","type":"ai_tool","index":0},{"node":"Groq Agent","type":"ai_tool","index":0},{"node":"Ollama Agent","type":"ai_tool","index":0}]]},"Window Buffer Memory":{"ai_memory":[[{"node":"Azure OpenAI Agent","type":"ai_memory","index":0},{"node":"Cohere Agent","type":"ai_memory","index":0},{"node":"HuggingFace Agent","type":"ai_memory","index":0},{"node":"Mistral Agent","type":"ai_memory","index":0},{"node":"Groq Agent","type":"ai_memory","index":0},{"node":"Ollama Agent","type":"ai_memory","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"67be90eb-615e-46ea-8063-6bc0231daa50","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-12-15T13:56:55.060Z","createdAt":"2025-12-15T13:56:55.060Z","role":"workflow:owner","workflowId":"RzQF3P7OYoJuHLwx","projectId":"Mm7bXtgXc4UKgIPL"}],"activeVersion":null,"tags":[]},{"updatedAt":"2025-11-25T10:53:00.000Z","createdAt":"2025-11-25T07:28:35.615Z","id":"gJjqf6fYQBlQFrjP","name":"My workflow 2","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes"}]}},"id":"2c31aa2a-eacd-4df1-ac5f-f19d497de7c1","name":"Every Few Minutes Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-416,3456]},{"parameters":{"assignments":{"assignments":[{"id":"id-1","name":"newsApiUrl","value":"https://newsapi.org/v2/top-headlines","type":"string"},{"id":"id-2","name":"newsApiKey","value":"1325830db8cc41e9b1516bb68f67899b","type":"string"},{"id":"id-3","name":"trendApiUrl","value":"https://api.example.com/trends","type":"string"},{"id":"id-4","name":"recipientEmail","value":"info.adixy@gmail.com","type":"string"},{"id":"id-5","name":"slackChannel","value":"https://app.slack.com/huddle/T09V1HA7822/C0A02G2NWTT","type":"string"},{"id":"id-7","name":"crmApiUrl","value":"<__PLACEHOLDER_VALUE__CRM API Endpoint__>","type":"string"},{"id":"id-8","name":"crmApiKey","value":"<__PLACEHOLDER_VALUE__CRM API Key__>","type":"string"},{"id":"id-9","name":"crmSheetId","value":"<__PLACEHOLDER_VALUE__CRM Google Sheet ID__>","type":"string"},{"id":"id-10","name":"leadScoreThreshold","value":75,"type":"number"}]},"includeOtherFields":true,"options":{}},"id":"c94c25d1-f961-433c-afd2-8f4b1e3f745d","name":"Workflow Configuration","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-192,3456]},{"parameters":{"url":"={{ $('Workflow Configuration').first().json.newsApiUrl }}?country=us&apiKey={{ $('Workflow Configuration').first().json.newsApiKey }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"User-Agent","value":"n8n-workflow"}]},"options":{}},"id":"41411815-975c-444e-88ae-3c8324df1670","name":"Fetch Real-Time World Data","type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[32,3456]},{"parameters":{"promptType":"define","text":"={{ $json.articles }}","options":{"systemMessage":"You are a Master Prompt Architect specialized in generating high-quality, actionable prompts for various automation use cases.\n\nYour task is to:\n1. Analyze the real-time world data provided (news articles, trends, events)\n2. Generate 3-5 creative, detailed prompts that can be used for:\n   - Lead nurturing campaigns\n   - Content creation (blog posts, social media, emails)\n   - Trend analysis and insights\n   - Customer outreach strategies\n   - Data enrichment workflows\n\nFor each prompt, provide:\n- **Title**: A clear, descriptive title\n- **Category**: The use case (lead nurturing, content creation, trend analysis, outreach, data enrichment)\n- **Prompt**: A detailed, actionable prompt that includes context, instructions, and expected output format\n- **Context**: Brief explanation of why this prompt is relevant based on current trends\n\nReturn your response as a JSON array with this structure:\n[\n  {\n    \"title\": \"Prompt title\",\n    \"category\": \"Category name\",\n    \"prompt\": \"Full detailed prompt text\",\n    \"context\": \"Why this is relevant now\"\n  }\n]\n\nBe creative, timely, and ensure prompts are immediately actionable."}},"id":"7700b505-4c97-4159-a171-f490fc5d05d5","name":"Prompt Generator Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[256,3456]},{"parameters":{"model":{"__rl":true,"mode":"id","value":"gpt-4o"},"options":{"temperature":0.8}},"id":"5613a8e2-70e8-4f47-9cac-f705f9339f7b","name":"OpenAI GPT Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[264,3680],"credentials":{"openAiApi":{"id":"m99AwxO5mNlwLtaw","name":"OpenAi account"}}},{"parameters":{"assignments":{"assignments":[{"id":"id-1","name":"generatedPrompts","value":"={{ $json.output }}","type":"string"},{"id":"id-2","name":"timestamp","value":"={{ $now.toISO() }}","type":"string"},{"id":"id-3","name":"sourceData","value":"={{ $('Fetch Real-Time World Data').first().json.articles[0].title }}","type":"string"}]},"includeOtherFields":true,"options":{}},"id":"4f601a3d-638f-43c4-8875-7d221652cc13","name":"Format Generated Prompts","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[608,3456]},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"mode":"id","value":"<__PLACEHOLDER_VALUE__Google Sheet ID__>"},"sheetName":{"__rl":true,"mode":"name","value":"Prompt Log"},"columns":{"mappingMode":"defineBelow","value":{"timestamp":"={{ $json.timestamp }}","generatedPrompts":"={{ JSON.stringify($json.generatedPrompts) }}","sourceData":"={{ $json.sourceData }}"}},"options":{}},"id":"0d36191e-5668-4e0d-bfcf-4d660e1c228e","name":"Log to Google Sheets","type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[832,3168],"credentials":{"googleSheetsOAuth2Api":{"id":"3kqThWm5UwlFhmTk","name":"Google Sheets account 2"}}},{"parameters":{"sendTo":"={{ $('Workflow Configuration').first().json.recipientEmail }}","subject":"=New AI-Generated Prompts - {{ $now.toFormat('yyyy-MM-dd HH:mm') }}","message":"=<h2>Fresh Prompts Generated</h2><p>Timestamp: {{ $json.timestamp }}</p><p>Based on: {{ $json.sourceData }}</p><pre>{{ JSON.stringify($json.generatedPrompts, null, 2) }}</pre>","options":{}},"id":"1aad8e0d-f2f5-4ff0-b0f3-0fb6dd26db26","name":"Send Email Notification","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[832,3360],"webhookId":"5f82e002-abe0-4518-9b8f-b331797dc940","credentials":{"gmailOAuth2":{"id":"w5Bkx9KNgceO6ztH","name":"Gmail account"}}},{"parameters":{"select":"channel","channelId":{"__rl":true,"mode":"id","value":"={{ $('Workflow Configuration').first().json.slackChannel }}"},"text":"=*🚀 New AI-Generated Prompts*\n\n*Timestamp:* {{ $json.timestamp }}\n*Source:* {{ $json.sourceData }}\n\n```{{ JSON.stringify($json.generatedPrompts, null, 2) }}```","otherOptions":{}},"id":"7051dabe-3d4f-4f3a-9e11-d6b09af1db87","name":"Send Slack Message","type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[832,3552],"webhookId":"899238d7-0e80-4b9d-a942-fcca3a1b9aa2","credentials":{"slackApi":{"id":"qKrD8fb7lCVqUkPX","name":"Unnamed credential"}}},{"parameters":{"resource":"databasePage","databaseId":{"__rl":true,"mode":"id","value":"={{ $('Workflow Configuration').first().json.notionDatabaseId }}"},"title":"={{ 'Prompts - ' + $json.timestamp }}","propertiesUi":{"propertyValues":[{"key":"Timestamp","textContent":"={{ $json.timestamp }}"},{"key":"Content","textContent":"={{ JSON.stringify($json.generatedPrompts) }}"}]},"options":{}},"id":"9acdd484-d0f4-49d8-ab65-eb84bf518ec0","name":"Save to Notion","type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[832,3744]},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[392,3680],"id":"a035cd32-afce-42cb-be2b-696960a0236c","name":"Simple Memory"},{"parameters":{"httpMethod":"POST","path":"automation-master","options":{}},"id":"30c83a77-5051-4196-b809-9f8111fee989","name":"Webhook Input Trigger","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-416,2544],"webhookId":"88410666-d005-4d0f-9393-b6957b2814a1"},{"parameters":{"promptType":"define","text":"={{ $json.body.request }}","options":{"systemMessage":"You are a Master Automation Orchestrator with access to multiple tools for CRM management, research, and communication.\n\nYour capabilities:\n1. **HTTP Research Tool**: Fetch data from any public API or website\n2. **Google Sheets CRM Tool**: Read, update, and manage CRM data in Google Sheets\n3. **Gmail Automation Tool**: Send automated emails to leads, customers, or team members\n\nYour task is to:\n1. Understand the user's automation request\n2. Determine which tools are needed\n3. Execute the appropriate tool calls in the correct sequence\n4. Provide a clear summary of actions taken\n\nExamples of requests you can handle:\n- \"Research the latest AI trends and email me a summary\"\n- \"Find all high-priority leads in the CRM and send them personalized outreach emails\"\n- \"Update lead status in the CRM after sending follow-up emails\"\n- \"Fetch competitor data and add insights to the CRM\"\n\nAlways confirm actions taken and provide actionable next steps."}},"id":"381ee81a-f863-4ebe-b7e7-f653a075bcfb","name":"Master Orchestrator Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[152,2840]},{"parameters":{"model":{"__rl":true,"mode":"id","value":"gpt-4o"},"options":{"temperature":0.7}},"id":"6571d463-bb10-44fe-81b6-4f84e789d12c","name":"OpenAI GPT Model 2","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[32,3064],"credentials":{"openAiApi":{"id":"m99AwxO5mNlwLtaw","name":"OpenAi account"}}},{"parameters":{"toolDescription":"Fetch data from any public API or website. Provide the full URL and optional headers.","url":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('URL', `diffrent urls depending on user input and workflow prompt(s)`, 'string') }}","options":{}},"id":"39868041-09b7-4917-8387-01f20ba1d7c6","name":"HTTP Research Tool","type":"n8n-nodes-base.httpRequestTool","typeVersion":4.3,"position":[160,3064]},{"parameters":{"descriptionType":"manual","toolDescription":"Read, update, or append data to Google Sheets CRM. Specify the sheet ID, sheet name, and operation (read/update/append).","documentId":{"__rl":true,"mode":"list","value":""},"sheetName":{"__rl":true,"mode":"list","value":""}},"id":"3f89db43-1605-4f5f-8bdf-b186c104d16d","name":"Google Sheets CRM Tool","type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.7,"position":[288,3064],"credentials":{"googleSheetsOAuth2Api":{"id":"h3bwraZmRpFZkFlc","name":"Google Sheets account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Send automated emails via Gmail. Provide recipient email (use $fromAI for dynamic), subject (use $fromAI for dynamic), and message content (use $fromAI for dynamic HTML).","sendTo":"={{ $fromAI('to') }}","subject":"={{ $fromAI('subject') }}","message":"={{ $fromAI('message_html') }}","options":{}},"id":"d2628ba6-4bdd-4b05-b9d0-eb87c89a8605","name":"Gmail Automation Tool","type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[416,3064],"webhookId":"b82ed7a8-91c5-4eca-b70c-eb49f7c749f7","credentials":{"gmailOAuth2":{"id":"w5Bkx9KNgceO6ztH","name":"Gmail account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.taskType }}","rightValue":"crm","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"crm"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.taskType }}","rightValue":"research","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"research"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.taskType }}","rightValue":"ai_agent","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"ai_agent"}]},"options":{}},"id":"37d1c30a-aabc-4926-a412-07c86357d652","name":"Route by Task Type","type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[-192,2528]},{"parameters":{"url":"={{ $('Workflow Configuration').first().json.crmApiUrl }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Workflow Configuration').first().json.crmApiKey }}"}]},"options":{}},"id":"d3cc26d7-b9b8-46e3-8d49-67f7e7454a1e","name":"Fetch CRM Data","type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[216,2352]},{"parameters":{"url":"={{ $('Workflow Configuration').first().json.newsApiUrl }}?country=us&category=business&apiKey={{ $('Workflow Configuration').first().json.newsApiKey }}","options":{}},"id":"0eaaf22e-5405-41d6-8208-3a3f11b21f6b","name":"Fetch Market Trends","type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[216,2544]},{"parameters":{},"id":"e7dd5fba-a954-4581-934c-fe1d9d744339","name":"Merge All Data Sources","type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[624,2448]},{"parameters":{"assignments":{"assignments":[{"id":"id-1","name":"enrichedAt","value":"={{ $now.toISO() }}","type":"string"},{"id":"id-2","name":"marketContext","value":"={{ $('Fetch Market Trends').first().json.articles[0].title }}","type":"string"},{"id":"id-3","name":"leadSource","value":"CRM API","type":"string"}]},"includeOtherFields":true,"options":{}},"id":"8c3b4cc0-8f3f-44a6-a343-1fffaf10f784","name":"Enrich Lead Data","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[848,2448]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Calculate lead score based on enriched data\nconst item = $input.item.json;\n\n// Initialize score\nlet leadScore = 0;\n\n// Score based on company size (if available)\nif (item.companySize) {\n  if (item.companySize > 1000) leadScore += 30;\n  else if (item.companySize > 100) leadScore += 20;\n  else if (item.companySize > 10) leadScore += 10;\n}\n\n// Score based on industry match (if available)\nif (item.industry && ['Technology', 'Software', 'SaaS'].includes(item.industry)) {\n  leadScore += 25;\n}\n\n// Score based on engagement level (if available)\nif (item.engagementLevel) {\n  if (item.engagementLevel === 'high') leadScore += 30;\n  else if (item.engagementLevel === 'medium') leadScore += 15;\n}\n\n// Score based on budget (if available)\nif (item.budget) {\n  if (item.budget > 50000) leadScore += 20;\n  else if (item.budget > 10000) leadScore += 10;\n}\n\n// Score based on decision maker status (if available)\nif (item.isDecisionMaker === true) {\n  leadScore += 15;\n}\n\n// Return the item with calculated lead score\nreturn {\n  ...item,\n  leadScore: leadScore,\n  scoreCalculatedAt: new Date().toISOString()\n};"},"id":"4dbaed17-693c-4ee6-9aa1-b91a263588f5","name":"Calculate Lead Score","type":"n8n-nodes-base.code","typeVersion":2,"position":[1072,2448]},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose"},"conditions":[{"id":"id-1","leftValue":"={{ $json.leadScore }}","rightValue":"={{ $('Workflow Configuration').first().json.leadScoreThreshold }}","operator":{"type":"number","operation":"gte"}}],"combinator":"and"},"options":{}},"id":"37643412-9224-4693-a849-37e963e41b30","name":"Check Lead Priority","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1296,2448]},{"parameters":{"sendTo":"={{ $json.email }}","subject":"=High-Priority Lead Alert: {{ $json.companyName }}","message":"=<h2>High-Priority Lead Detected</h2><p><strong>Company:</strong> {{ $json.companyName }}</p><p><strong>Lead Score:</strong> {{ $json.leadScore }}/100</p><p><strong>Industry:</strong> {{ $json.industry }}</p><p><strong>Market Context:</strong> {{ $json.marketContext }}</p><p>This lead requires immediate attention.</p>","options":{}},"id":"8fb8e075-d1be-4bdc-aa06-f67b68fb486d","name":"Send Priority Email","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1520,2352],"webhookId":"8401f5ed-ce42-42b5-8689-249559e6e1bc","credentials":{"gmailOAuth2":{"id":"w5Bkx9KNgceO6ztH","name":"Gmail account"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"mode":"id","value":"={{ $('Workflow Configuration').first().json.crmSheetId }}"},"sheetName":{"__rl":true,"mode":"name","value":"Leads"},"columns":{"mappingMode":"defineBelow","value":{"companyName":"={{ $json.companyName }}","email":"={{ $json.email }}","leadScore":"={{ $json.leadScore }}","industry":"={{ $json.industry }}","marketContext":"={{ $json.marketContext }}","enrichedAt":"={{ $json.enrichedAt }}"}},"options":{}},"id":"5e022e66-b8fb-4a91-93f9-4ab7fe41f4b9","name":"Update CRM Sheet","type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1520,2544],"credentials":{"googleSheetsOAuth2Api":{"id":"h3bwraZmRpFZkFlc","name":"Google Sheets account"}}}],"connections":{"Every Few Minutes Trigger":{"main":[[{"node":"Workflow Configuration","type":"main","index":0}]]},"Workflow Configuration":{"main":[[{"node":"Fetch Real-Time World Data","type":"main","index":0}]]},"Fetch Real-Time World Data":{"main":[[{"node":"Prompt Generator Agent","type":"main","index":0}]]},"OpenAI GPT Model":{"ai_languageModel":[[{"node":"Prompt Generator Agent","type":"ai_languageModel","index":0}]]},"Prompt Generator Agent":{"main":[[{"node":"Format Generated Prompts","type":"main","index":0}]]},"Format Generated Prompts":{"main":[[{"node":"Log to Google Sheets","type":"main","index":0},{"node":"Send Email Notification","type":"main","index":0},{"node":"Send Slack Message","type":"main","index":0},{"node":"Save to Notion","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"Prompt Generator Agent","type":"ai_memory","index":0}]]},"Webhook Input Trigger":{"main":[[{"node":"Route by Task Type","type":"main","index":0}]]},"Route by Task Type":{"main":[[{"node":"Fetch CRM Data","type":"main","index":0}],[{"node":"Fetch Market Trends","type":"main","index":0}],[{"node":"Master Orchestrator Agent","type":"main","index":0}]]},"Fetch CRM Data":{"main":[[{"node":"Merge All Data Sources","type":"main","index":0}]]},"Fetch Market Trends":{"main":[[{"node":"Merge All Data Sources","type":"main","index":1}]]},"Merge All Data Sources":{"main":[[{"node":"Enrich Lead Data","type":"main","index":0}]]},"Enrich Lead Data":{"main":[[{"node":"Calculate Lead Score","type":"main","index":0}]]},"Calculate Lead Score":{"main":[[{"node":"Check Lead Priority","type":"main","index":0}]]},"Check Lead Priority":{"main":[[{"node":"Send Priority Email","type":"main","index":0}],[{"node":"Update CRM Sheet","type":"main","index":0}]]},"OpenAI GPT Model 2":{"ai_languageModel":[[{"node":"Master Orchestrator Agent","type":"ai_languageModel","index":0}]]},"HTTP Research Tool":{"ai_tool":[[{"node":"Master Orchestrator Agent","type":"ai_tool","index":0}]]},"Google Sheets CRM Tool":{"ai_tool":[[{"node":"Master Orchestrator Agent","type":"ai_tool","index":0}]]},"Gmail Automation Tool":{"ai_tool":[[{"node":"Master Orchestrator Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"c5652d37-bda5-4e4c-bed8-539e084150c5","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-11-25T07:28:35.617Z","createdAt":"2025-11-25T07:28:35.617Z","role":"workflow:owner","workflowId":"gJjqf6fYQBlQFrjP","projectId":"uYtNtwSdnjBjYtuu"}],"activeVersion":null,"tags":[]},{"updatedAt":"2025-11-11T10:59:53.000Z","createdAt":"2025-11-06T07:05:24.388Z","id":"sEWX0kDwxMkBU1ky","name":"LinkedIn Job Search Scraper and Aggregator","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"14d28da0-86aa-4bba-a91d-0f9fd1960855","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[1120,1152]},{"parameters":{"assignments":{"assignments":[{"id":"id-1","name":"Job title","value":"<__PLACEHOLDER_VALUE__Job title to search for__>","type":"string"},{"id":"id-2","name":"location","value":"<__PLACEHOLDER_VALUE__Location (e.g., New York, NY)__>","type":"string"},{"id":"id-3","name":"distance","value":25,"type":"number"},{"id":"id-4","name":"is_remote","value":2,"type":"number"},{"id":"id-5","name":"iterations","value":0,"type":"number"},{"id":"id-6","name":"Hours Old","value":24,"type":"number"}]},"includeOtherFields":true,"options":{}},"id":"7175ea1e-8558-40b3-8e28-09667d886a4e","name":"Workflow Configuration","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1344,1152]},{"parameters":{"url":"https://www.linkedin.com/jobs-guest/jobs/api/seeMoreJobPostings/search","sendQuery":true,"queryParameters":{"parameters":[{"name":"keywords","value":"={{ $('Workflow Configuration').first().json['Job title'] }}"},{"name":"location","value":"={{ $('Workflow Configuration').first().json.location }}"},{"name":"distance","value":"={{ $('Workflow Configuration').first().json.distance }}"},{"name":"f_WT","value":"={{ $('Workflow Configuration').first().json.is_remote }}"},{"name":"pageNum","value":"0"},{"name":"start","value":"={{ $('Workflow Configuration').first().json.iterations * 10 }}"},{"name":"f_TPR","value":"=r{{ $('Workflow Configuration').first().json['Hours Old'] * 3600 }}"}]},"sendHeaders":true,"specifyHeaders":"json","jsonHeaders":"{\n  \"authority\": \"www.linkedin.com\",\n  \"accept\": \"text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7\",\n  \"accept-language\": \"en-US,en;q=0.9\",\n  \"cache-control\": \"max-age=0\",\n  \"upgrade-insecure-requests\": \"1\",\n  \"user-agent\": \"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36\"\n}","options":{"batching":{"batch":{"batchSize":1}}}},"id":"e11d0629-588e-4ea4-9c29-909bca119e5a","name":"Get LinkedIn Jobs","type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1568,1152]},{"parameters":{"operation":"extractHtmlContent","extractionValues":{"values":[{"key":"titles","cssSelector":"span.sr-only","returnArray":true}]},"options":{}},"id":"3c08e981-6281-4247-ba6a-eefd0d7ff776","name":"Extract Titles","type":"n8n-nodes-base.html","typeVersion":1.2,"position":[1792,960]},{"parameters":{"fieldToSplitOut":"titles","options":{}},"id":"9a24c502-5d10-49e1-849c-c4a76652652d","name":"Split Out Titles","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[2016,960]},{"parameters":{"operation":"extractHtmlContent","extractionValues":{"values":[{"key":"url","cssSelector":"a.base-card__full-link","returnValue":"attribute","attribute":"href","returnArray":true}]},"options":{}},"id":"fe90b03e-14df-4f90-998f-9dd504c523ab","name":"Extract Links","type":"n8n-nodes-base.html","typeVersion":1.2,"position":[1792,1152]},{"parameters":{"fieldToSplitOut":"url","options":{}},"id":"efeda3e9-6e9d-4ff3-9604-5fb9f1645f0b","name":"Split Out Links","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[2032,1152]},{"parameters":{"operation":"extractHtmlContent","extractionValues":{"values":[{"key":"location","cssSelector":"span.job-search-card__location","returnArray":true}]},"options":{}},"id":"3f40b14b-5961-45c7-a458-333aae2c03a6","name":"Extract Location","type":"n8n-nodes-base.html","typeVersion":1.2,"position":[1792,1344]},{"parameters":{"fieldToSplitOut":"location","options":{}},"id":"fdacf58c-8c32-4b11-9947-de920b68ec64","name":"Split Out Location","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[2016,1344]},{"parameters":{"mode":"combine","combineBy":"combineByPosition","numberInputs":3,"options":{"includeUnpaired":true}},"id":"0cfdc12b-0141-42dd-b175-1d1dd56e9bc4","name":"Merge","type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[2272,1136]},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"responses":{"values":[{"content":"=make easy to read : {{ $json.titles }}"}]},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2,"position":[2496,1088],"id":"a4982d70-4292-4a4e-9742-10be6517e0f2","name":"Message a model","credentials":{"openAiApi":{"id":"m99AwxO5mNlwLtaw","name":"OpenAi account"}}}],"connections":{"Manual Trigger":{"main":[[{"node":"Workflow Configuration","type":"main","index":0}]]},"Workflow Configuration":{"main":[[{"node":"Get LinkedIn Jobs","type":"main","index":0}]]},"Get LinkedIn Jobs":{"main":[[{"node":"Extract Titles","type":"main","index":0},{"node":"Extract Links","type":"main","index":0},{"node":"Extract Location","type":"main","index":0}]]},"Extract Titles":{"main":[[{"node":"Split Out Titles","type":"main","index":0}]]},"Extract Links":{"main":[[{"node":"Split Out Links","type":"main","index":0}]]},"Extract Location":{"main":[[{"node":"Split Out Location","type":"main","index":0}]]},"Split Out Titles":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Split Out Links":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Split Out Location":{"main":[[{"node":"Merge","type":"main","index":2}]]},"Message a model":{"main":[[]]},"Merge":{"main":[[{"node":"Message a model","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"893f380e-01a8-4f6a-ae95-4c17999b2eed","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-11-06T07:05:24.391Z","createdAt":"2025-11-06T07:05:24.391Z","role":"workflow:owner","workflowId":"sEWX0kDwxMkBU1ky","projectId":"uYtNtwSdnjBjYtuu"}],"activeVersion":null,"tags":[]},{"updatedAt":"2025-12-01T22:08:36.000Z","createdAt":"2025-11-14T01:55:40.733Z","id":"ueVDwnssXzKp2sK8","name":"Generate Leads with Google Maps","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"edc9d8f5-e1f4-48e2-b7f7-36e53674d5b3","name":"When clicking \"Execute Workflow\"","type":"n8n-nodes-base.manualTrigger","position":[720,784],"typeVersion":1},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":15}]}},"id":"b761e882-298f-454e-8c21-f77b336ce54e","name":"Run workflow every hours","type":"n8n-nodes-base.scheduleTrigger","position":[720,608],"typeVersion":1.1,"disabled":true},{"parameters":{},"id":"63d30ea8-1e31-47d2-8f3a-6757f438ab8a","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","position":[720,448],"typeVersion":1,"disabled":true},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"51e191cb-af20-423b-9303-8523caa4ae0d","operator":{"type":"number","operation":"gt"},"leftValue":"={{ $('Exponential Backoff').item.json[\"retryCount\"] }}","rightValue":10}]},"options":{}},"id":"10f40f60-c29f-47db-a4d1-3d0b8e8363d7","name":"Check Max Retries1","type":"n8n-nodes-base.if","position":[3472,992],"typeVersion":2.2},{"parameters":{"errorMessage":"Google Sheets API Limit has been triggered and the workflow has stopped"},"id":"6665de66-8e00-4a45-b26a-93be044e9b8d","name":"Stop and Error1","type":"n8n-nodes-base.stopAndError","position":[3680,992],"typeVersion":1},{"parameters":{"method":"POST","url":"https://places.googleapis.com/v1/places:searchText","authentication":"predefinedCredentialType","nodeCredentialType":"googleOAuth2Api","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Goog-FieldMask","value":"places.id,places.displayName,places.addressComponents,places.formattedAddress,places.primaryType,places.primaryTypeDisplayName,places.types,places.location,places.nationalPhoneNumber,places.rating,places.userRatingCount,places.websiteUri,places.editorialSummary,places.reviews,places.attributions,places.userRatingCount"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"textQuery","value":"={{ $('Subcategory').item.json.Subcategory }} {{ $json.zip }}"}]},"options":{"response":{"response":{"fullResponse":true}}}},"id":"f0b15937-3734-4cdf-9256-ae36e39a2046","name":"GMaps API","type":"n8n-nodes-base.httpRequest","position":[1872,928],"typeVersion":4.2},{"parameters":{"operation":"update","documentId":{"__rl":true,"mode":"url","value":"={{ $('Settings').first().json.gs_url }}"},"sheetName":{"__rl":true,"mode":"name","value":"={{ $('Settings').first().json.sheet }}"},"columns":{"value":{"zip":"={{ $('Set Zip').first().json.zip }}","status":"scraped","subcat":"={{ $('Subcategory').first().json.Subcategory }}"},"schema":[{"id":"zip","type":"string","display":true,"removed":false,"required":false,"displayName":"zip","defaultMatch":false,"canBeUsedToMatch":true},{"id":"status","type":"string","display":true,"removed":false,"required":false,"displayName":"status","defaultMatch":false,"canBeUsedToMatch":true},{"id":"subcat","type":"string","display":true,"removed":false,"required":false,"displayName":"subcat","defaultMatch":false,"canBeUsedToMatch":true},{"id":"row_number","type":"string","display":true,"removed":false,"readOnly":true,"required":false,"displayName":"row_number","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":["zip"]},"options":{}},"id":"539bb125-173a-45b8-a6fc-0b755a013525","name":"Update Status to Success","type":"n8n-nodes-base.googleSheets","position":[3312,1408],"executeOnce":true,"typeVersion":4.2,"alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"h3bwraZmRpFZkFlc","name":"Google Sheets account"}},"onError":"continueErrorOutput"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"mode":"url","value":"={{ $('Settings').item.json.gs_url }}"},"sheetName":{"__rl":true,"mode":"name","value":"=Results"},"columns":{"value":{"type":"={{ $('Subcategory').item.json.Subcategory }}","phone":"={{ $json.place.nationalPhoneNumber }}","title":"={{ $json.place.displayName.text }}","types":"={{ $json.place.types }}","rating":"={{ $json.place.rating }}","address":"={{ $json.place.formattedAddress }}","reviews":"={{ $json.place.reviews }}","website":"={{ $json.place.websiteUri }}","place_id":"={{ $json.place.id }}","gps_coordinates":"={\"latitude\":{{ $json.place.location.latitude }},\"longitude\":{{ $json.place.location.longitude }}}"},"schema":[{"id":"ACTION","type":"string","display":true,"required":false,"displayName":"ACTION","defaultMatch":false,"canBeUsedToMatch":true},{"id":"STATUS","type":"string","display":true,"required":false,"displayName":"STATUS","defaultMatch":false,"canBeUsedToMatch":true},{"id":"title","type":"string","display":true,"required":false,"displayName":"title","defaultMatch":false,"canBeUsedToMatch":true},{"id":"email","type":"string","display":true,"required":false,"displayName":"email","defaultMatch":false,"canBeUsedToMatch":true},{"id":"name","type":"string","display":true,"required":false,"displayName":"name","defaultMatch":false,"canBeUsedToMatch":true},{"id":"firstname","type":"string","display":true,"required":false,"displayName":"firstname","defaultMatch":false,"canBeUsedToMatch":true},{"id":"lastname","type":"string","display":true,"required":false,"displayName":"lastname","defaultMatch":false,"canBeUsedToMatch":true},{"id":"phone","type":"string","display":true,"required":false,"displayName":"phone","defaultMatch":false,"canBeUsedToMatch":true},{"id":"clean url","type":"string","display":true,"required":false,"displayName":"clean url","defaultMatch":false,"canBeUsedToMatch":true},{"id":"website","type":"string","display":true,"required":false,"displayName":"website","defaultMatch":false,"canBeUsedToMatch":true},{"id":"WP API","type":"string","display":true,"required":false,"displayName":"WP API","defaultMatch":false,"canBeUsedToMatch":true},{"id":"WP","type":"string","display":true,"required":false,"displayName":"WP","defaultMatch":false,"canBeUsedToMatch":true},{"id":"facebook","type":"string","display":true,"required":false,"displayName":"facebook","defaultMatch":false,"canBeUsedToMatch":true},{"id":"instagram","type":"string","display":true,"required":false,"displayName":"instagram","defaultMatch":false,"canBeUsedToMatch":true},{"id":"youtube","type":"string","display":true,"required":false,"displayName":"youtube","defaultMatch":false,"canBeUsedToMatch":true},{"id":"tiktok","type":"string","display":true,"required":false,"displayName":"tiktok","defaultMatch":false,"canBeUsedToMatch":true},{"id":"twitter","type":"string","display":true,"required":false,"displayName":"twitter","defaultMatch":false,"canBeUsedToMatch":true},{"id":"linkedin","type":"string","display":true,"required":false,"displayName":"linkedin","defaultMatch":false,"canBeUsedToMatch":true},{"id":"pinterest","type":"string","display":true,"required":false,"displayName":"pinterest","defaultMatch":false,"canBeUsedToMatch":true},{"id":"reddit","type":"string","display":true,"required":false,"displayName":"reddit","defaultMatch":false,"canBeUsedToMatch":true},{"id":"rating","type":"string","display":true,"required":false,"displayName":"rating","defaultMatch":false,"canBeUsedToMatch":true},{"id":"reviews","type":"string","display":true,"required":false,"displayName":"reviews","defaultMatch":false,"canBeUsedToMatch":true},{"id":"type","type":"string","display":true,"required":false,"displayName":"type","defaultMatch":false,"canBeUsedToMatch":true},{"id":"address","type":"string","display":true,"required":false,"displayName":"address","defaultMatch":false,"canBeUsedToMatch":true},{"id":"price","type":"string","display":true,"required":false,"displayName":"price","defaultMatch":false,"canBeUsedToMatch":true},{"id":"place_id","type":"string","display":true,"removed":false,"required":false,"displayName":"place_id","defaultMatch":false,"canBeUsedToMatch":true},{"id":"position","type":"string","display":true,"required":false,"displayName":"position","defaultMatch":false,"canBeUsedToMatch":true},{"id":"data_id","type":"string","display":true,"required":false,"displayName":"data_id","defaultMatch":false,"canBeUsedToMatch":true},{"id":"data_cid","type":"string","display":true,"required":false,"displayName":"data_cid","defaultMatch":false,"canBeUsedToMatch":true},{"id":"reviews_link","type":"string","display":true,"required":false,"displayName":"reviews_link","defaultMatch":false,"canBeUsedToMatch":true},{"id":"photos_link","type":"string","display":true,"required":false,"displayName":"photos_link","defaultMatch":false,"canBeUsedToMatch":true},{"id":"gps_coordinates","type":"string","display":true,"required":false,"displayName":"gps_coordinates","defaultMatch":false,"canBeUsedToMatch":true},{"id":"place_id_search","type":"string","display":true,"required":false,"displayName":"place_id_search","defaultMatch":false,"canBeUsedToMatch":true},{"id":"provider_id","type":"string","display":true,"required":false,"displayName":"provider_id","defaultMatch":false,"canBeUsedToMatch":true},{"id":"types","type":"string","display":true,"required":false,"displayName":"types","defaultMatch":false,"canBeUsedToMatch":true},{"id":"open_state","type":"string","display":true,"required":false,"displayName":"open_state","defaultMatch":false,"canBeUsedToMatch":true},{"id":"hours","type":"string","display":true,"required":false,"displayName":"hours","defaultMatch":false,"canBeUsedToMatch":true},{"id":"operating_hours","type":"string","display":true,"required":false,"displayName":"operating_hours","defaultMatch":false,"canBeUsedToMatch":true},{"id":"description","type":"string","display":true,"required":false,"displayName":"description","defaultMatch":false,"canBeUsedToMatch":true},{"id":"service_options","type":"string","display":true,"required":false,"displayName":"service_options","defaultMatch":false,"canBeUsedToMatch":true},{"id":"order_online","type":"string","display":true,"required":false,"displayName":"order_online","defaultMatch":false,"canBeUsedToMatch":true},{"id":"thumbnail","type":"string","display":true,"required":false,"displayName":"thumbnail","defaultMatch":false,"canBeUsedToMatch":true},{"id":"editorial_reviews","type":"string","display":true,"required":false,"displayName":"editorial_reviews","defaultMatch":false,"canBeUsedToMatch":true},{"id":"unclaimed_listing","type":"string","display":true,"required":false,"displayName":"unclaimed_listing","defaultMatch":false,"canBeUsedToMatch":true},{"id":"reserve_a_table","type":"string","display":true,"required":false,"displayName":"reserve_a_table","defaultMatch":false,"canBeUsedToMatch":true},{"id":"user_review","type":"string","display":true,"required":false,"displayName":"user_review","defaultMatch":false,"canBeUsedToMatch":true},{"id":"amenities","type":"string","display":true,"required":false,"displayName":"amenities","defaultMatch":false,"canBeUsedToMatch":true},{"id":"book_online","type":"string","display":true,"required":false,"displayName":"book_online","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":["place_id"]},"options":{}},"id":"848b71e5-7ff5-4fb5-aad3-33b630ee42c8","name":"Add rows in Google Sheets","type":"n8n-nodes-base.googleSheets","position":[2880,992],"typeVersion":4.2,"alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"h3bwraZmRpFZkFlc","name":"Google Sheets account"}},"onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"4c5ad6be-28aa-455f-8ee2-edce1ab1bdbb","name":"row_number","type":"number","value":"={{ $json.row_number }}"}]},"includeOtherFields":true,"options":{}},"id":"4e1e9438-8091-4cf6-8a99-179960a35eae","name":"Set Row Number","type":"n8n-nodes-base.set","position":[1872,320],"typeVersion":3.4},{"parameters":{"assignments":{"assignments":[{"id":"7b1629c5-cbfe-4769-8286-66b46c51cd7e","name":"zip","type":"number","value":"={{ $('Loop Zips').first().json.zip }}"}]},"includeOtherFields":true,"options":{}},"id":"a1939e46-7a56-4e41-9f12-86e784acd044","name":"Set Zip","type":"n8n-nodes-base.set","position":[1680,928],"typeVersion":3.4},{"parameters":{"assignments":{"assignments":[{"id":"758ff896-7cd8-4f72-bfbb-e64583c5937c","name":"places.id","type":"string","value":"={{ $json.place.id }}"}]},"includeOtherFields":true,"options":{}},"id":"062d2c9f-f957-43ee-9fc2-2a8600828b58","name":"Set Place ID","type":"n8n-nodes-base.set","position":[2480,992],"typeVersion":3.4},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Define the retry count (coming from a previous node or set manually)\nconst retryCount = $json[\"retryCount\"] || 0;  // If not present, default to 0\nconst maxRetries = 5;  // Define the maximum number of retries\nconst initialDelay = 1;  // Initial delay in seconds (1 second)\n\n// If the retry count is less than the max retries, calculate the delay\nif (retryCount < maxRetries) {\n    const currentDelayInSeconds = initialDelay * Math.pow(2, retryCount);  // Exponential backoff delay in seconds\n    \n    // Log the delay time for debugging\n    console.log(`Waiting for ${currentDelayInSeconds} seconds before retry...`);\n    \n    return {\n        json: {\n            retryCount: retryCount + 1,  // Increment retry count\n            waitTimeInSeconds: currentDelayInSeconds, // Pass the delay time in seconds\n            status: 'retrying',\n        }\n    };\n} else {\n    // If max retries are exceeded, return a failure response\n    return {\n        json: {\n            error: 'Max retries exceeded',\n            retryCount: retryCount,\n            status: 'failed'\n        }\n    };\n}\n"},"id":"0e3f4e19-0067-4233-afa8-1b9dd0a6bf30","name":"Exponential Backoff","type":"n8n-nodes-base.code","position":[3072,992],"typeVersion":2},{"parameters":{"compare":"selectedFields","fieldsToCompare":"place.id,places.id","options":{}},"id":"68e13297-e299-4218-a02e-354c4bdd61db","name":"Remove Duplicates","type":"n8n-nodes-base.removeDuplicates","position":[2672,992],"typeVersion":1.1},{"parameters":{"amount":"={{ $json[\"waitTime\"] }}"},"id":"ee71fd03-8e15-4c38-b10a-8ff5853da476","name":"Wait","type":"n8n-nodes-base.wait","position":[3280,992],"webhookId":"e0cf8da3-e4ab-490e-abcd-0c0c55b90846","typeVersion":1.1},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"51e191cb-af20-423b-9303-8523caa4ae0d","operator":{"type":"number","operation":"gt"},"leftValue":"={{ $('Exponential Backoff1').item.json[\"retryCount\"] }}","rightValue":10}]},"options":{}},"id":"761d8d0e-c185-41a5-9a75-53e51ab67add","name":"Check Max Retries","type":"n8n-nodes-base.if","position":[3920,1408],"typeVersion":2.2},{"parameters":{"errorMessage":"Google Sheets API Limit has been triggered and the workflow has stopped"},"id":"d8fa857a-e195-405c-ae15-44fecd3fea3e","name":"Stop and Error","type":"n8n-nodes-base.stopAndError","position":[4112,1408],"typeVersion":1},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Define the retry count (coming from a previous node or set manually)\nconst retryCount = $json[\"retryCount\"] || 0;  // If not present, default to 0\nconst maxRetries = 5;  // Define the maximum number of retries\nconst initialDelay = 1;  // Initial delay in seconds (1 second)\n\n// If the retry count is less than the max retries, calculate the delay\nif (retryCount < maxRetries) {\n    const currentDelayInSeconds = initialDelay * Math.pow(2, retryCount);  // Exponential backoff delay in seconds\n    \n    // Log the delay time for debugging\n    console.log(`Waiting for ${currentDelayInSeconds} seconds before retry...`);\n    \n    return {\n        json: {\n            retryCount: retryCount + 1,  // Increment retry count\n            waitTimeInSeconds: currentDelayInSeconds, // Pass the delay time in seconds\n            status: 'retrying',\n        }\n    };\n} else {\n    // If max retries are exceeded, return a failure response\n    return {\n        json: {\n            error: 'Max retries exceeded',\n            retryCount: retryCount,\n            status: 'failed'\n        }\n    };\n}\n"},"id":"127dc44e-dd79-4735-b818-b95ec00184f2","name":"Exponential Backoff1","type":"n8n-nodes-base.code","position":[3520,1408],"typeVersion":2},{"parameters":{"amount":"={{ $json[\"waitTime\"] }}"},"id":"fb7e37c4-f0b3-4a19-a4cc-29fd0c158f9d","name":"Wait1","type":"n8n-nodes-base.wait","position":[3712,1408],"webhookId":"670750d4-0c4d-4fff-b139-1d60be1eac68","typeVersion":1.1},{"parameters":{"assignments":{"assignments":[{"id":"fa469a25-eb00-4011-a626-87fae7fb8bbd","name":"gs_url","type":"string","value":"https://docs.google.com/spreadsheets/d/11bzNIQDE4GB2NWkyGv2IfEsTggSIBCKe2z39Ecp2Z4g/edit?gid=853393043#gid=853393043"},{"id":"df0a7a51-0ec6-47d2-9f73-bc8268385305","name":"catSheet","type":"string","value":"Google Maps Categories"},{"id":"a1ff9a58-9ae6-4000-9fcd-6c11de23bd48","name":"sheet","type":"string","value":"AZ Zips"}]},"options":{}},"id":"520c9d50-bf23-402f-abf2-cb107341da4d","name":"Settings","type":"n8n-nodes-base.set","position":[992,608],"typeVersion":3.4},{"parameters":{"documentId":{"__rl":true,"mode":"url","value":"={{ $('Settings').item.json.gs_url }}"},"sheetName":{"__rl":true,"mode":"name","value":"={{ $('Settings').item.json.catSheet }}"},"options":{}},"id":"1e9c68db-5ccd-4db7-a469-47aabb38dca1","name":"GS - Get Subcategory","type":"n8n-nodes-base.googleSheets","position":[1568,592],"executeOnce":true,"typeVersion":4.2,"credentials":{"googleSheetsOAuth2Api":{"id":"h3bwraZmRpFZkFlc","name":"Google Sheets account"}}},{"parameters":{"assignments":{"assignments":[{"id":"d3470f6f-c66e-4223-bbf5-81e45201d45d","name":"Subcategory","type":"string","value":"={{ $json.Subcategory }}"}]},"includeOtherFields":true,"options":{}},"id":"e822be8c-ac7e-472e-a6e6-8835a1001323","name":"Subcategory","type":"n8n-nodes-base.set","position":[1968,592],"typeVersion":3.4},{"parameters":{"resource":"spreadsheet","title":"test","options":{}},"id":"003af494-cb09-441b-87c7-43d7d98682e6","name":"GS - Get Zip Codes","type":"n8n-nodes-base.googleSheets","position":[1280,320],"executeOnce":true,"typeVersion":4.2,"alwaysOutputData":false,"credentials":{"googleSheetsOAuth2Api":{"id":"h3bwraZmRpFZkFlc","name":"Google Sheets account"}}},{"parameters":{"jsCode":"// Get the places array from the input data\nconst places = items[0]?.json?.body?.places || [];\n\n// Create an output array to hold each place as a separate item\nlet output = [];\n\nif (places.length > 0) {\n  for (let i = 0; i < places.length; i++) {\n    // For each place, push a new item into the output array\n    output.push({\n      json: {\n        place: places[i], // The individual place object\n        otherData: items[0].json.otherData || null  // Include other data or default to null\n      }\n    });\n  }\n} else {\n  // Log an error or handle the case where places array is empty or undefined\n  console.log('Places array is empty or undefined.');\n}\n\n// Return the output array, so each place becomes its own item\nreturn output;\n"},"id":"cccc740e-55e5-4a64-b7f1-b1ca3fbb236e","name":"Place Array","type":"n8n-nodes-base.code","position":[2272,992],"typeVersion":2},{"parameters":{"options":{}},"id":"4cd6a14a-084f-4389-90c5-f4d5921fc80d","name":"Loop Zips","type":"n8n-nodes-base.splitInBatches","position":[1376,528],"typeVersion":3},{"parameters":{"options":{}},"id":"33bbb601-86ad-40b2-94fc-ccb7753d690e","name":"Loop Subcats","type":"n8n-nodes-base.splitInBatches","position":[1472,864],"typeVersion":3},{"parameters":{"documentId":{"__rl":true,"mode":"url","value":"={{ $('Settings').first().json.gs_url }}"},"sheetName":{"__rl":true,"mode":"name","value":"={{ $('Settings').first().json.sheet }}"},"options":{}},"id":"fc1f56d7-ac1c-4447-a897-5b48ab4be430","name":"GS - Get Status","type":"n8n-nodes-base.googleSheets","position":[3072,1200],"executeOnce":true,"typeVersion":4.2,"credentials":{"googleSheetsOAuth2Api":{"id":"h3bwraZmRpFZkFlc","name":"Google Sheets account"}},"onError":"continueErrorOutput"},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"51e191cb-af20-423b-9303-8523caa4ae0d","operator":{"type":"number","operation":"gt"},"leftValue":"={{ $('Exponential Backoff2').item.json[\"retryCount\"] }}","rightValue":10}]},"options":{}},"id":"04e698d9-2455-4884-8f95-e2a9dbc16d57","name":"Check Max Retries2","type":"n8n-nodes-base.if","position":[3680,1200],"typeVersion":2.2},{"parameters":{"errorMessage":"Google Sheets API Limit has been triggered and the workflow has stopped"},"id":"be784eb9-1d18-4ddc-a91a-1a78355eabed","name":"Stop and Error2","type":"n8n-nodes-base.stopAndError","position":[3872,1200],"typeVersion":1},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Define the retry count (coming from a previous node or set manually)\nconst retryCount = $json[\"retryCount\"] || 0;  // If not present, default to 0\nconst maxRetries = 5;  // Define the maximum number of retries\nconst initialDelay = 1;  // Initial delay in seconds (1 second)\n\n// If the retry count is less than the max retries, calculate the delay\nif (retryCount < maxRetries) {\n    const currentDelayInSeconds = initialDelay * Math.pow(2, retryCount);  // Exponential backoff delay in seconds\n    \n    // Log the delay time for debugging\n    console.log(`Waiting for ${currentDelayInSeconds} seconds before retry...`);\n    \n    return {\n        json: {\n            retryCount: retryCount + 1,  // Increment retry count\n            waitTimeInSeconds: currentDelayInSeconds, // Pass the delay time in seconds\n            status: 'retrying',\n        }\n    };\n} else {\n    // If max retries are exceeded, return a failure response\n    return {\n        json: {\n            error: 'Max retries exceeded',\n            retryCount: retryCount,\n            status: 'failed'\n        }\n    };\n}\n"},"id":"3226891f-2e03-442e-9be3-7bc41d067d23","name":"Exponential Backoff2","type":"n8n-nodes-base.code","position":[3280,1200],"typeVersion":2},{"parameters":{"amount":"={{ $json[\"waitTime\"] }}"},"id":"04435aaa-0ba7-45f9-80a7-248fbd47ff0e","name":"Wait2","type":"n8n-nodes-base.wait","position":[3472,1200],"webhookId":"d9b32a26-861f-46d5-a8d7-0ede2ea37fe6","typeVersion":1.1},{"parameters":{"maxItems":3},"id":"4c246eb7-5ec2-4c89-b0c0-c851cb318c34","name":"Limit","type":"n8n-nodes-base.limit","position":[2288,320],"typeVersion":1},{"parameters":{"content":"# AlexK1919 \n![Alex Kim](https://media.licdn.com/dms/image/v2/D5603AQFOYMkqCPl6Sw/profile-displayphoto-shrink_400_400/profile-displayphoto-shrink_400_400/0/1718309808352?e=1736985600&v=beta&t=pQKm7lQfUU1ytuC2Gq1PRxNY-XmROFWbo-BjzUPxWOs)\n\n#### I’m Alex Kim, an AI-Native Workflow Automation Architect, Founder @ WotAI.\n\n\n### About Me\nhttps://wotai.co/community\n\n\n### Products Used \n[Google Maps API via Google Cloud Account](https://docs.n8n.io/integrations/builtin/credentials/google/oauth-generic/?utm_source=n8n_app&utm_medium=credential_settings&utm_campaign=create_new_credentials_modal)\n","height":1390,"width":250,"color":6},"id":"b141c344-c011-41b2-b87d-b5a067e37c0f","name":"Sticky Note20","type":"n8n-nodes-base.stickyNote","position":[368,240],"typeVersion":1},{"parameters":{"content":"# Settings","height":1391,"width":247,"color":3},"id":"3fd43827-bc14-4337-89d3-2e48fc010e9f","name":"Sticky Note8","type":"n8n-nodes-base.stickyNote","position":[928,240],"typeVersion":1},{"parameters":{"content":"In the Google Sheets document, set the subcategories you'd like to search for\n\nSet the URL of your Google Sheets document\n\nSet the Zip Code sheet name","height":220,"width":219,"color":7},"id":"c4ddef39-75e4-4a04-808c-2057ed59eddf","name":"Sticky Note15","type":"n8n-nodes-base.stickyNote","position":[928,320],"typeVersion":1},{"parameters":{"content":"# Triggers","height":1391,"width":247,"color":7},"id":"b02c6a3a-3939-469a-bb50-0417cf2bc3c5","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[656,240],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"3d16d922-0ed3-4a0f-9707-43797438970d","name":"zip","type":"number","value":"={{ $json.zip }}"}]},"includeOtherFields":true,"options":{}},"id":"0aeeaed1-e0dd-4837-ba69-31e0205ea824","name":"Zips","type":"n8n-nodes-base.set","position":[1472,320],"typeVersion":3.4},{"parameters":{"content":"# Google Maps API","height":880,"width":3060,"color":5},"id":"e186129c-202b-409a-8028-e7434ab70093","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[1216,768],"typeVersion":1},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"9f5a5e37-faae-45db-8a22-ad7d5786ecfe","operator":{"type":"string","operation":"empty","singleValue":true},"leftValue":"={{ $json.status }}","rightValue":""}]},"options":{}},"id":"6e142b17-55e7-4a2f-ae2a-829edd330aad","name":"Filter Zips","type":"n8n-nodes-base.filter","position":[1680,320],"typeVersion":2.2},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"b64333b6-67ce-47c4-a2cc-07303278d178","operator":{"type":"string","operation":"notEquals"},"leftValue":"={{ $json.STATUS }}","rightValue":"Ignore"}]},"options":{}},"id":"077dc67e-eab4-413a-8f17-a17b298bf3f4","name":"Filter Subcategories","type":"n8n-nodes-base.filter","position":[1776,592],"typeVersion":2.2},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"7424452f-e208-4e7e-8144-d0c6278bc0f0","operator":{"type":"object","operation":"empty","singleValue":true},"leftValue":"={{ $json.body }}","rightValue":""}]},"options":{}},"id":"2d5f5e14-4958-4b60-9ae3-b66a7ad095e9","name":"If Empty","type":"n8n-nodes-base.if","position":[2080,928],"typeVersion":2.2},{"parameters":{"fieldToSplitOut":"row_number","include":"allOtherFields","options":{}},"id":"594eee9f-35d2-4b7f-8926-47010891298b","name":"Split Out","type":"n8n-nodes-base.splitOut","position":[2096,320],"typeVersion":1},{"parameters":{"content":"# Data Prep","height":500,"width":3060,"color":4},"id":"2402643d-605e-40d8-b4ed-1678a144960b","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[1216,240],"typeVersion":1}],"connections":{"Wait":{"main":[[{"node":"Check Max Retries1","type":"main","index":0}]]},"Zips":{"main":[[{"node":"Filter Zips","type":"main","index":0}]]},"Limit":{"main":[[{"node":"Loop Zips","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Check Max Retries","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"Check Max Retries2","type":"main","index":0}]]},"Set Zip":{"main":[[{"node":"GMaps API","type":"main","index":0}]]},"If Empty":{"main":[[{"node":"Loop Subcats","type":"main","index":0}],[{"node":"Place Array","type":"main","index":0}]]},"Settings":{"main":[[{"node":"GS - Get Zip Codes","type":"main","index":0}]]},"GMaps API":{"main":[[{"node":"If Empty","type":"main","index":0}]]},"Loop Zips":{"main":[[],[{"node":"GS - Get Subcategory","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Limit","type":"main","index":0}]]},"Filter Zips":{"main":[[{"node":"Set Row Number","type":"main","index":0}]]},"Place Array":{"main":[[{"node":"Set Place ID","type":"main","index":0}]]},"Subcategory":{"main":[[{"node":"Loop Subcats","type":"main","index":0}]]},"Loop Subcats":{"main":[[{"node":"Loop Zips","type":"main","index":0}],[{"node":"Set Zip","type":"main","index":0}]]},"Set Place ID":{"main":[[{"node":"Remove Duplicates","type":"main","index":0}]]},"Set Row Number":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"GS - Get Status":{"main":[[{"node":"Update Status to Success","type":"main","index":0}],[{"node":"Exponential Backoff2","type":"main","index":0}]]},"Check Max Retries":{"main":[[{"node":"Stop and Error","type":"main","index":0}],[{"node":"Update Status to Success","type":"main","index":0}]]},"Remove Duplicates":{"main":[[{"node":"Add rows in Google Sheets","type":"main","index":0}]]},"Check Max Retries1":{"main":[[{"node":"Stop and Error1","type":"main","index":0}],[{"node":"Add rows in Google Sheets","type":"main","index":0}]]},"Check Max Retries2":{"main":[[{"node":"Stop and Error2","type":"main","index":0}]]},"GS - Get Zip Codes":{"main":[[{"node":"Zips","type":"main","index":0}]]},"Exponential Backoff":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Exponential Backoff1":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Exponential Backoff2":{"main":[[{"node":"Wait2","type":"main","index":0}]]},"Filter Subcategories":{"main":[[{"node":"Subcategory","type":"main","index":0}]]},"GS - Get Subcategory":{"main":[[{"node":"Filter Subcategories","type":"main","index":0}]]},"Execute Workflow Trigger":{"main":[[{"node":"Settings","type":"main","index":0}]]},"Run workflow every hours":{"main":[[{"node":"Settings","type":"main","index":0}]]},"Update Status to Success":{"main":[[{"node":"Loop Subcats","type":"main","index":0}],[{"node":"Exponential Backoff1","type":"main","index":0}]]},"Add rows in Google Sheets":{"main":[[{"node":"GS - Get Status","type":"main","index":0}],[{"node":"Exponential Backoff","type":"main","index":0}]]},"When clicking \"Execute Workflow\"":{"main":[[{"node":"Settings","type":"main","index":0}]]}},"settings":{},"staticData":null,"meta":{"templateId":"2605"},"pinData":{},"versionId":"f9859026-9fe6-4738-a987-bc2e549ddb11","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-11-14T01:55:40.736Z","createdAt":"2025-11-14T01:55:40.736Z","role":"workflow:owner","workflowId":"ueVDwnssXzKp2sK8","projectId":"uYtNtwSdnjBjYtuu"}],"activeVersion":null,"tags":[]},{"updatedAt":"2025-11-12T07:38:51.000Z","createdAt":"2025-11-06T07:27:34.924Z","id":"wgpcaZ5sYuEviyxS","name":"LinkedIn Job Scraper with AI-Powered Decision Maker Outreach Automation","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":9}]}},"id":"f148cdde-5c9a-45b4-aea1-31e267905559","name":"Daily Schedule","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-2064,192]},{"parameters":{"assignments":{"assignments":[{"id":"id-1","name":"apifyApiToken","value":"<__PLACEHOLDER_VALUE__Apify API Token__>","type":"string"},{"id":"id-2","name":"apifyActorId","value":"<__PLACEHOLDER_VALUE__Apify LinkedIn Job Scraper Actor ID__>","type":"string"},{"id":"id-3","name":"apolloApiKey","value":"<__PLACEHOLDER_VALUE__Apollo.io API Key__>","type":"string"},{"id":"id-4","name":"jobRoles","value":"<__PLACEHOLDER_VALUE__Comma-separated job roles to search (e.g., Software Engineer, Product Manager)__>","type":"string"},{"id":"id-5","name":"jobLocations","value":"<__PLACEHOLDER_VALUE__Comma-separated locations (e.g., San Francisco, New York, Remote)__>","type":"string"},{"id":"id-6","name":"notionDatabaseId","value":"<__PLACEHOLDER_VALUE__Notion Database ID__>","type":"string"},{"id":"id-7","name":"googleSheetsId","value":"<__PLACEHOLDER_VALUE__Google Sheets Spreadsheet ID__>","type":"string"}]},"includeOtherFields":true,"options":{}},"id":"9f46cc89-7907-48d9-9385-a889e28c5e70","name":"Workflow Configuration","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1840,192]},{"parameters":{"method":"POST","url":"=https://api.apify.com/v2/acts/{{ $('Workflow Configuration').first().json.apifyActorId }}/runs?token={{ $('Workflow Configuration').first().json.apifyApiToken }}","sendBody":true,"specifyBody":"json","jsonBody":"={ \"startUrls\": [{ \"url\": \"https://www.linkedin.com/jobs/search/\" }], \"searchKeywords\": $('Workflow Configuration').first().json.jobRoles, \"searchLocation\": $('Workflow Configuration').first().json.jobLocations, \"maxItems\": 50 }","options":{}},"id":"765ea803-dcc3-4559-9cb8-c186bda6f4c2","name":"Apify - Run LinkedIn Job Scraper","type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-1616,192]},{"parameters":{"url":"={{ $json.data.defaultDatasetId ? 'https://api.apify.com/v2/datasets/' + $json.data.defaultDatasetId + '/items?token=' + $('Workflow Configuration').first().json.apifyApiToken : '' }}","options":{"timeout":300000}},"id":"018744f8-28ad-4ac1-80ec-41ddc23ed17d","name":"Apify - Get Scraper Results","type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-1392,192]},{"parameters":{"jsCode":"// Parse Apify results and extract job details\nconst items = $input.all();\nconst jobPostings = [];\n\n// Iterate through all input items\nfor (const item of items) {\n  // Check if the item has the expected structure from Apify\n  const data = item.json;\n  \n  // Handle different possible data structures from Apify\n  let jobs = [];\n  \n  if (Array.isArray(data)) {\n    jobs = data;\n  } else if (data.items && Array.isArray(data.items)) {\n    jobs = data.items;\n  } else if (data.results && Array.isArray(data.results)) {\n    jobs = data.results;\n  } else if (data.data && Array.isArray(data.data)) {\n    jobs = data.data;\n  } else {\n    // If single job object, wrap in array\n    jobs = [data];\n  }\n  \n  // Extract job details from each job posting\n  for (const job of jobs) {\n    const jobPosting = {\n      companyName: job.companyName || job.company || job.companyTitle || '',\n      jobTitle: job.title || job.jobTitle || job.position || '',\n      location: job.location || job.jobLocation || job.place || '',\n      postingDate: job.postedAt || job.postingDate || job.listedAt || job.date || '',\n      salary: job.salary || job.salaryRange || job.compensation || '',\n      jobUrl: job.url || job.jobUrl || job.link || job.jobLink || '',\n      description: job.description || job.jobDescription || job.descriptionText || ''\n    };\n    \n    // Only add if we have at least a job title or company name\n    if (jobPosting.jobTitle || jobPosting.companyName) {\n      jobPostings.push({ json: jobPosting });\n    }\n  }\n}\n\n// Return one item per job posting\nreturn jobPostings;"},"id":"c700f622-1981-44c5-bd29-d36799472e78","name":"Parse Job Postings","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1168,192]},{"parameters":{"method":"POST","url":"https://api.apollo.io/v1/mixed_people/search","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"X-Api-Key","value":"={{ $('Workflow Configuration').first().json.apolloApiKey }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={ \"organization_name\": $json.company, \"person_titles\": [\"HR\", \"Human Resources\", \"Talent Acquisition\", \"Recruiter\", \"Recruiting\", \"People Operations\", \"Operations\", \"Hiring Manager\"], \"page\": 1, \"per_page\": 10 }","options":{}},"id":"e2dc8453-8171-4c5c-a2be-f6b41c2abe08","name":"Apollo - Find Decision Makers","type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-944,192]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Rank decision makers by relevance\nconst jobData = $input.item.json;\nconst decisionMakers = jobData.decisionMakers || [];\nconst jobLocation = jobData.jobLocation || '';\n\n// Define scoring weights\nconst titleKeywords = {\n  'recruiter': 10,\n  'talent': 10,\n  'hr': 10,\n  'human resources': 10,\n  'people': 8,\n  'hiring': 9,\n  'recruitment': 10,\n  'talent acquisition': 12\n};\n\nconst seniorityKeywords = {\n  'director': 15,\n  'vp': 20,\n  'vice president': 20,\n  'head': 18,\n  'chief': 25,\n  'cpo': 25,\n  'chro': 25,\n  'senior': 10,\n  'lead': 8,\n  'manager': 5\n};\n\n// Function to calculate relevance score\nfunction calculateRelevanceScore(person) {\n  let score = 0;\n  const title = (person.title || '').toLowerCase();\n  const location = (person.location || '').toLowerCase();\n  const jobLoc = jobLocation.toLowerCase();\n  \n  // Score based on title keywords\n  for (const [keyword, points] of Object.entries(titleKeywords)) {\n    if (title.includes(keyword)) {\n      score += points;\n    }\n  }\n  \n  // Score based on seniority level\n  for (const [keyword, points] of Object.entries(seniorityKeywords)) {\n    if (title.includes(keyword)) {\n      score += points;\n    }\n  }\n  \n  // Score based on location match\n  if (location && jobLoc) {\n    // Extract city/state from locations for comparison\n    const locationParts = location.split(',').map(p => p.trim());\n    const jobLocParts = jobLoc.split(',').map(p => p.trim());\n    \n    // Check for any matching location parts\n    for (const locPart of locationParts) {\n      for (const jobPart of jobLocParts) {\n        if (locPart && jobPart && (locPart.includes(jobPart) || jobPart.includes(locPart))) {\n          score += 15;\n          break;\n        }\n      }\n    }\n  }\n  \n  return score;\n}\n\n// Calculate scores for all decision makers\nconst scoredDecisionMakers = decisionMakers.map(person => ({\n  ...person,\n  relevanceScore: calculateRelevanceScore(person)\n}));\n\n// Sort by relevance score (highest first) and take top 3\nconst topDecisionMakers = scoredDecisionMakers\n  .sort((a, b) => b.relevanceScore - a.relevanceScore)\n  .slice(0, 3)\n  .map(person => ({\n    name: person.name || '',\n    title: person.title || '',\n    linkedinProfile: person.linkedinUrl || person.linkedin || '',\n    email: person.email || '',\n    location: person.location || '',\n    relevanceScore: person.relevanceScore\n  }));\n\n// Return the result with top decision makers\nreturn {\n  json: {\n    ...jobData,\n    topDecisionMakers: topDecisionMakers,\n    totalDecisionMakersFound: decisionMakers.length\n  }\n};"},"id":"88697874-89ae-4409-aa8a-d6e48c6b5a19","name":"Rank Decision Makers","type":"n8n-nodes-base.code","typeVersion":2,"position":[-720,192]},{"parameters":{"operation":"message"},"id":"4b15bb2b-303a-463d-aef0-68bddfd02670","name":"OpenAI - Generate Psychographic Profile","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2,"position":[-496,192]},{"parameters":{"operation":"message"},"id":"52f35653-dd97-43b4-8eeb-2fe68bd2534c","name":"OpenAI - Generate Outreach Hook","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2,"position":[-144,192]},{"parameters":{"assignments":{"assignments":[{"id":"id-1","name":"psychographicProfile","value":"={{ $('OpenAI - Generate Psychographic Profile').first().json.message.content }}","type":"string"},{"id":"id-2","name":"outreachHooks","value":"={{ $json.message.content }}","type":"string"},{"id":"id-3","name":"timestamp","value":"={{ $now.toISO() }}","type":"string"}]},"includeOtherFields":true,"options":{}},"id":"53d894bb-0b8c-4227-a437-2f9d629d06eb","name":"Prepare Notion Data","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[208,192]},{"parameters":{"resource":"databasePage","databaseId":{"__rl":true,"mode":"id","value":"={{ $('Workflow Configuration').first().json.notionDatabaseId }}"},"propertiesUi":{"propertyValues":[{"key":"Job Title|title","type":"title","title":"={{ $json.jobTitle }}"},{"key":"Company|rich_text","type":"rich_text","textContent":"={{ $json.company }}"},{"key":"Location|rich_text","type":"rich_text","textContent":"={{ $json.location }}"},{"key":"Posting Date|date","type":"date","includeTime":false,"date":"={{ $json.postingDate }}"},{"key":"Salary|rich_text","type":"rich_text","textContent":"={{ $json.salary }}"},{"key":"Job URL|url","type":"url","urlValue":"={{ $json.jobUrl }}"},{"key":"Decision Maker Name|rich_text","type":"rich_text","textContent":"={{ $json.decisionMaker.name }}"},{"key":"Decision Maker Title|rich_text","type":"rich_text","textContent":"={{ $json.decisionMaker.title }}"},{"key":"Decision Maker LinkedIn|url","type":"url","urlValue":"={{ $json.decisionMaker.linkedinUrl }}"},{"key":"Psychographic Profile|rich_text","type":"rich_text","textContent":"={{ $json.psychographicProfile }}"},{"key":"Outreach Hooks|rich_text","type":"rich_text","textContent":"={{ $json.outreachHooks }}"}]},"options":{}},"id":"ac4862a8-3368-4bca-abd3-74efe3736eac","name":"Notion - Create Job Entry","type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[432,96]},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"mode":"id","value":"={{ $('Workflow Configuration').first().json.googleSheetsId }}"},"sheetName":{"__rl":true,"mode":"name","value":"Job Postings"},"columns":{"mappingMode":"autoMapInputData","value":{"Job Title":"={{ $json.jobTitle }}","Company":"={{ $json.company }}","Location":"={{ $json.location }}","Posting Date":"={{ $json.postingDate }}","Salary":"={{ $json.salary }}","Job URL":"={{ $json.jobUrl }}","Decision Maker Name":"={{ $json.decisionMakerName }}","Decision Maker Title":"={{ $json.decisionMakerTitle }}","Decision Maker LinkedIn":"={{ $json.decisionMakerLinkedIn }}","Psychographic Profile":"={{ $json.psychographicProfile }}","Outreach Hooks":"={{ $json.outreachHooks }}","Timestamp":"={{ $json.timestamp }}"},"matchingColumns":["Job Title","Company","Location","Posting Date","Salary","Job URL","Decision Maker Name","Decision Maker Title","Decision Maker LinkedIn","Psychographic Profile","Outreach Hooks","Timestamp"],"schema":[{"id":"Job Title","displayName":"Job Title","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Company","displayName":"Company","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Location","displayName":"Location","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Posting Date","displayName":"Posting Date","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Salary","displayName":"Salary","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Job URL","displayName":"Job URL","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Decision Maker Name","displayName":"Decision Maker Name","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Decision Maker Title","displayName":"Decision Maker Title","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Decision Maker LinkedIn","displayName":"Decision Maker LinkedIn","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Psychographic Profile","displayName":"Psychographic Profile","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Outreach Hooks","displayName":"Outreach Hooks","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Timestamp","displayName":"Timestamp","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true}]},"options":{}},"id":"b5ab8cc9-b993-40ce-a46b-72262d80107c","name":"Google Sheets - Append Results","type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[432,288]}],"connections":{"Daily Schedule":{"main":[[{"node":"Workflow Configuration","type":"main","index":0}]]},"Workflow Configuration":{"main":[[{"node":"Apify - Run LinkedIn Job Scraper","type":"main","index":0}]]},"Apify - Run LinkedIn Job Scraper":{"main":[[{"node":"Apify - Get Scraper Results","type":"main","index":0}]]},"Apify - Get Scraper Results":{"main":[[{"node":"Parse Job Postings","type":"main","index":0}]]},"Parse Job Postings":{"main":[[{"node":"Apollo - Find Decision Makers","type":"main","index":0}]]},"Apollo - Find Decision Makers":{"main":[[{"node":"Rank Decision Makers","type":"main","index":0}]]},"Rank Decision Makers":{"main":[[{"node":"OpenAI - Generate Psychographic Profile","type":"main","index":0}]]},"OpenAI - Generate Psychographic Profile":{"main":[[{"node":"OpenAI - Generate Outreach Hook","type":"main","index":0}]]},"OpenAI - Generate Outreach Hook":{"main":[[{"node":"Prepare Notion Data","type":"main","index":0}]]},"Prepare Notion Data":{"main":[[{"node":"Notion - Create Job Entry","type":"main","index":0},{"node":"Google Sheets - Append Results","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Daily Schedule":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"60379324-097b-45fc-b0bd-2c1a710ea8d7","activeVersionId":null,"triggerCount":1,"shared":[{"updatedAt":"2025-11-06T07:27:34.926Z","createdAt":"2025-11-06T07:27:34.926Z","role":"workflow:owner","workflowId":"wgpcaZ5sYuEviyxS","projectId":"uYtNtwSdnjBjYtuu"}],"activeVersion":null,"tags":[]},{"updatedAt":"2025-12-15T14:58:10.034Z","createdAt":"2025-12-15T14:58:10.034Z","id":"witMRkqXkuppm2Jp","name":"Personeelsnetwerk AI Hub","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"784230a3-93f0-422c-8913-f3b2ebae0f2a","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-400,1328]},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 8,20 * * *"}]}},"id":"29f5e7aa-7e9f-4cc3-a0b7-36b17a13aa34","name":"Horeca Schedule (8am & 8pm)","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-400,384]},{"parameters":{"assignments":{"assignments":[{"id":"id-1","name":"aiPlatform","value":"openai","type":"string"},{"id":"id-2","name":"userPrompt","value":"Your question or task here","type":"string"},{"id":"id-3","name":"mode","value":"general","type":"string"}]},"includeOtherFields":true,"options":{}},"id":"93f302f0-4b7f-421f-b3ca-a96a3d774711","name":"Workflow Configuration","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-176,1328]},{"parameters":{"assignments":{"assignments":[{"id":"cities","name":"cities","value":"=['Amsterdam', 'Rotterdam', 'Den Haag', 'Utrecht', 'Eindhoven', 'Groningen', 'Breda', 'Nijmegen', 'Haarlem', 'Arnhem']","type":"array"},{"id":"keywords","name":"job_keywords","value":"=['afwasser', 'schoonmaker', 'housekeeping', 'kok', 'keukenhulp', 'bediening', 'horeca medewerker', 'barista']","type":"array"},{"id":"target","name":"target_leads","value":"50","type":"number"}]},"options":{}},"id":"2cf0f8d0-f795-4ea1-ad32-cdc22c0bb085","name":"Horeca Config","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-176,384]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.aiPlatform }}","rightValue":"openai","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"OpenAI"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.aiPlatform }}","rightValue":"claude","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Claude"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.aiPlatform }}","rightValue":"gemini","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Gemini"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.aiPlatform }}","rightValue":"groq","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Groq"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.aiPlatform }}","rightValue":"mistral","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Mistral"}]},"options":{}},"id":"34d6fdef-5d70-4ff0-8e3c-c62272d5adf8","name":"Select AI Platform","type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[48,1216]},{"parameters":{"resource":"conversation","messages":{"values":[{}]},"options":{}},"id":"580d1d50-fbcb-4819-9a44-546101054b25","name":"OpenAI GPT","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2,"position":[368,272],"credentials":{"openAiApi":{"id":"m99AwxO5mNlwLtaw","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"mode":"id","value":"claude-3-5-sonnet-20241022"},"messages":{"values":[{"content":"={{ $json.userPrompt }}"}]},"options":{}},"id":"df27432e-3743-4e9a-9002-a93cd8bbd42a","name":"Anthropic Claude","type":"@n8n/n8n-nodes-langchain.anthropic","typeVersion":1,"position":[368,672]},{"parameters":{"modelId":{"__rl":true,"mode":"id","value":"gemini-1.5-pro"},"messages":{"values":[{"content":"={{ $json.userPrompt }}"}]},"options":{}},"id":"b5c0ca00-7941-4fa8-ab28-9756780b46e7","name":"Google Gemini","type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1,"position":[368,864]},{"parameters":{"model":"llama-3.3-70b-versatile","options":{}},"id":"d6c5fcb5-9dc7-47c7-9e92-edebbc6e5e55","name":"Groq Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[784,2432]},{"parameters":{"promptType":"define","text":"={{ $json.userPrompt }}","options":{"systemMessage":"You are a helpful AI assistant for Personeelsnetwerk.com, a Dutch staffing agency specializing in horeca recruitment."}},"id":"2de88825-0395-403f-9026-ab20ed1d983a","name":"Groq Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[720,2208]},{"parameters":{"model":"mistral-large-latest","options":{}},"id":"400cb696-4631-4c17-817b-a9e521c76276","name":"Mistral Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatMistralCloud","typeVersion":1,"position":[784,2032]},{"parameters":{"promptType":"define","text":"={{ $json.userPrompt }}","options":{"systemMessage":"You are a helpful AI assistant for Personeelsnetwerk.com."}},"id":"5240a451-90c1-42f0-a310-4eb6722e1711","name":"Mistral Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[720,1808]},{"parameters":{"driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"mode":"list","value":"root","cachedResultName":"/ (Root folder)"},"options":{}},"id":"1f0868b4-26f7-44ed-8dcf-18537caf87ce","name":"Get LinkedIn CSV","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[48,384]},{"parameters":{"operation":"parseCsv"},"id":"1d56561e-9c4a-49ca-ae2d-c504abf7a380","name":"Parse CSV","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[272,384]},{"parameters":{"conditions":{"options":{"caseSensitive":false},"conditions":[{"leftValue":"={{ $json.company || $json['Company Name'] }}","rightValue":"","operator":{"type":"string","operation":"isNotEmpty"}},{"leftValue":"={{ $json.title || $json['Job Title'] }}","rightValue":"","operator":{"type":"string","operation":"isNotEmpty"}}],"combinator":"and"},"options":{}},"id":"4cbefb98-1a68-4afa-8212-9de70a0df7d9","name":"Filter Valid Jobs","type":"n8n-nodes-base.filter","typeVersion":2,"position":[496,384]},{"parameters":{"modelId":{"__rl":true,"mode":"list","value":""},"messages":{"values":[{"content":"Je bent een expert voor Personeelsnetwerk.com. Analyseer horeca vacatures.\n\nWE ZOEKEN: afwasser, schoonmaker, housekeeping, kok, keukenhulp, bediening, zaalmedewerker, barista\nWE VERMIJDEN: manager, directeur, senior posities\n\nGeef score 0-100 in JSON: {\"qualified\": bool, \"score\": 0-100, \"category\": string, \"priority\": \"high/medium/low\", \"reasons\": [], \"action\": \"Direct contact/Review/Skip\"}","role":"system"},{"content":"=Bedrijf: {{ $json.company || $json['Company Name'] }}\nFunctie: {{ $json.title || $json['Job Title'] }}\nLocatie: {{ $json.location || $json.Location }}"}]},"options":{"maxTokens":500,"temperature":0.3}},"id":"8f6f8745-b347-4f81-90ca-279cae9d3c3a","name":"OpenAI Qualify Lead","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.4,"position":[720,384],"credentials":{"openAiApi":{"id":"m99AwxO5mNlwLtaw","name":"OpenAi account"}}},{"parameters":{"jsCode":"const items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  try {\n    const aiText = item.json.choices?.[0]?.message?.content || item.json.content || '{}';\n    const cleaned = aiText.replace(/```json|```/g, '').trim();\n    const parsed = JSON.parse(cleaned);\n    \n    results.push({\n      json: {\n        ...item.json,\n        ai_qualified: parsed.qualified || false,\n        ai_score: parsed.score || 0,\n        ai_category: parsed.category || 'unknown',\n        ai_priority: parsed.priority || 'low',\n        ai_reasons: (parsed.reasons || []).join('; '),\n        ai_action: parsed.action || 'Skip',\n        processed_at: new Date().toISOString()\n      }\n    });\n  } catch (e) {\n    results.push({\n      json: {...item.json, ai_qualified: false, ai_score: 0, ai_error: e.message}\n    });\n  }\n}\n\nreturn results;"},"id":"9a9cc9a5-af62-4545-84f4-ad6b9451edcb","name":"Parse AI Results","type":"n8n-nodes-base.code","typeVersion":2,"position":[944,384]},{"parameters":{"conditions":{"options":{"caseSensitive":false},"conditions":[{"leftValue":"={{ $json.ai_qualified }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}},{"leftValue":"={{ $json.ai_score }}","rightValue":60,"operator":{"type":"number","operation":"gte"}}],"combinator":"and"},"options":{}},"id":"fc0be62b-5d78-45bf-9ca8-f4eb146dacba","name":"Filter Qualified (60+)","type":"n8n-nodes-base.filter","typeVersion":2,"position":[1168,384]},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"","mode":"list"},"sheetName":{"__rl":true,"value":"Leads","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"Date":"={{ $now.format('dd-MM-yyyy') }}","Time":"={{ $now.format('HH:mm') }}","Company":"={{ $json.company || $json['Company Name'] }}","Job Title":"={{ $json.title || $json['Job Title'] }}","Location":"={{ $json.location || $json.Location }}","AI Score":"={{ $json.ai_score }}","Category":"={{ $json.ai_category }}","Priority":"={{ $json.ai_priority }}","Reasons":"={{ $json.ai_reasons }}","Action":"={{ $json.ai_action }}","LinkedIn URL":"={{ $json.job_url || $json['Job URL'] }}","Status":"Nieuw"}},"options":{}},"id":"0e948a38-a34f-4c20-94e9-649b246a7d6e","name":"Save to Google Sheets","type":"n8n-nodes-base.googleSheets","typeVersion":4.4,"position":[1392,384]},{"parameters":{"subject":"=✅ Horeca Leads - {{ $items().length }} nieuwe leads","options":{}},"id":"f8b58a57-a751-4085-a82e-75dce2ae705e","name":"Email Report","type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[1616,384],"webhookId":"af983e91-54b8-4542-91ad-7b26f5652307"},{"parameters":{},"id":"cbc31641-de83-432a-a6de-bbaba655d3d7","name":"Calculator Tool","type":"@n8n/n8n-nodes-langchain.toolCalculator","typeVersion":1,"position":[-80,496]},{"parameters":{"description":"Execute JavaScript code","jsCode":"const input = $fromAI(\"code_input\");\nreturn { result: eval(input) };"},"id":"599f8427-6208-4be2-8fec-be6853b29672","name":"Code Tool","type":"@n8n/n8n-nodes-langchain.toolCode","typeVersion":1.3,"position":[48,496]},{"parameters":{"toolDescription":"Make HTTP requests","url":"={{ $fromAI(\"api_url\") }}","options":{}},"id":"ee63a90c-9c09-4500-9490-79a45db94064","name":"HTTP Request Tool","type":"n8n-nodes-base.httpRequestTool","typeVersion":4.3,"position":[176,496]},{"parameters":{"sendTo":"={{ $fromAI('recipient_email') }}","subject":"={{ $fromAI('email_subject') }}","message":"={{ $fromAI('email_body') }}","options":{}},"id":"6de250dc-736c-4918-be21-745a3d0c3aa9","name":"Gmail Tool","type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[304,496],"webhookId":"aa9da753-7540-4114-b866-92f9822f905e","credentials":{"gmailOAuth2":{"id":"w5Bkx9KNgceO6ztH","name":"Gmail account"}}},{"parameters":{"select":"channel","channelId":{"__rl":true,"mode":"name","value":"={{ $fromAI('channel_name') }}"},"text":"={{ $fromAI('message_text') }}","otherOptions":{}},"id":"ce192973-c002-429c-9309-412d89d53bba","name":"Slack Tool","type":"n8n-nodes-base.slackTool","typeVersion":2.3,"position":[432,496],"webhookId":"e0086fec-6d17-48dd-adf4-aa5996495b38","credentials":{"slackApi":{"id":"qKrD8fb7lCVqUkPX","name":"Unnamed credential"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"mode":"id","value":"={{ $fromAI('spreadsheet_id') }}"},"sheetName":{"__rl":true,"mode":"name","value":"={{ $fromAI('sheet_name') }}"},"options":{}},"id":"b07f5903-7775-4124-bbff-440b25727056","name":"Google Sheets Tool","type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.7,"position":[560,496],"credentials":{"googleSheetsOAuth2Api":{"id":"h3bwraZmRpFZkFlc","name":"Google Sheets account"}}},{"parameters":{"calendar":{"__rl":true,"mode":"id","value":"={{ $fromAI(\"calendar_id\", \"Calendar ID\", \"string\", \"primary\") }}"},"start":"={{ $fromAI(\"start_time\") }}","end":"={{ $fromAI(\"end_time\") }}","additionalFields":{"summary":"={{ $fromAI(\"event_title\") }}"}},"id":"943d9039-2eb3-4877-8d5a-8b9c3bc5e071","name":"Google Calendar Tool","type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[688,496]},{"parameters":{"sessionKey":"={{ $json.sessionId || \"default\" }}"},"id":"9bc34ddf-ed9c-42dd-92ce-cb26038a8229","name":"Window Buffer Memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[848,1040]},{"parameters":{"authentication":"bearerAuth","path":"personeelsnetwerk-mcp"},"type":"@n8n/n8n-nodes-langchain.mcpTrigger","typeVersion":2,"position":[368,80],"id":"955f0e8a-4458-46d0-816a-2bba115d5645","name":"MCP Server Trigger","webhookId":"personeelsnetwerk-mcp"},{"parameters":{"path":"horeca-webhook","options":{}},"id":"b3614acf-5d2e-4e6b-a50c-6aa4bd8a81a7","name":"Webhook Trigger","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-400,592],"webhookId":"horeca-webhook"}],"connections":{"Manual Trigger":{"main":[[{"node":"Workflow Configuration","type":"main","index":0}]]},"Horeca Schedule (8am & 8pm)":{"main":[[{"node":"Horeca Config","type":"main","index":0}]]},"Webhook Trigger":{"main":[[{"node":"Horeca Config","type":"main","index":0}]]},"Horeca Config":{"main":[[{"node":"Get LinkedIn CSV","type":"main","index":0}]]},"Get LinkedIn CSV":{"main":[[{"node":"Parse CSV","type":"main","index":0}]]},"Parse CSV":{"main":[[{"node":"Filter Valid Jobs","type":"main","index":0}]]},"Filter Valid Jobs":{"main":[[{"node":"OpenAI Qualify Lead","type":"main","index":0}]]},"OpenAI Qualify Lead":{"main":[[{"node":"Parse AI Results","type":"main","index":0}]]},"Parse AI Results":{"main":[[{"node":"Filter Qualified (60+)","type":"main","index":0}]]},"Filter Qualified (60+)":{"main":[[{"node":"Save to Google Sheets","type":"main","index":0}]]},"Save to Google Sheets":{"main":[[{"node":"Email Report","type":"main","index":0}]]},"Workflow Configuration":{"main":[[{"node":"Select AI Platform","type":"main","index":0}]]},"Select AI Platform":{"main":[[{"node":"OpenAI GPT","type":"main","index":0}],[{"node":"Anthropic Claude","type":"main","index":0}],[{"node":"Google Gemini","type":"main","index":0}],[{"node":"Groq Agent","type":"main","index":0}],[{"node":"Mistral Agent","type":"main","index":0}]]},"Groq Chat Model":{"ai_languageModel":[[{"node":"Groq Agent","type":"ai_languageModel","index":0}]]},"Mistral Chat Model":{"ai_languageModel":[[{"node":"Mistral Agent","type":"ai_languageModel","index":0}]]},"Calculator Tool":{"ai_tool":[[{"node":"Anthropic Claude","type":"ai_tool","index":0}]]},"Code Tool":{"ai_tool":[[{"node":"Anthropic Claude","type":"ai_tool","index":0}]]},"HTTP Request Tool":{"ai_tool":[[{"node":"Anthropic Claude","type":"ai_tool","index":0}]]},"Gmail Tool":{"ai_tool":[[{"node":"Anthropic Claude","type":"ai_tool","index":0}]]},"Slack Tool":{"ai_tool":[[{"node":"Anthropic Claude","type":"ai_tool","index":0}]]},"Google Sheets Tool":{"ai_tool":[[{"node":"Anthropic Claude","type":"ai_tool","index":0}]]},"Google Calendar Tool":{"ai_tool":[[{"node":"Anthropic Claude","type":"ai_tool","index":0}]]},"Window Buffer Memory":{"ai_memory":[[{"node":"Groq Agent","type":"ai_memory","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"c3ddb211-923f-4640-954f-5ab79c2d3b5b","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-12-15T14:58:10.038Z","createdAt":"2025-12-15T14:58:10.038Z","role":"workflow:owner","workflowId":"witMRkqXkuppm2Jp","projectId":"uYtNtwSdnjBjYtuu"}],"activeVersion":null,"tags":[]}],"nextCursor":null}